<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>Arĥivoj de %(archive)s de la listo %(listname)s laŭ %(archtype)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(encoding)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
      <a name="start"></A>
      <h1>Arĥivoj de %(archive)s laŭ %(archtype)s</h1>
      <ul>
         <li> <b>Mesaĝoj ordigitaj laŭ:</b> 
                %(thread_ref)s 
                %(subject_ref)s 
                %(author_ref)s 
                %(date_ref)s 

	     <li><b><a href="%(listinfo)s">Plia informo pri tiu ĉi listo... 
                 </a></b></li>    
      </ul>
      <p><b>Komenco:</b> <i>%(firstdate)s</i><br>
         <b>Fino:</b> <i>%(lastdate)s</i><br>
         <b>Mesaĝoj:</b> %(size)s<p>
     <ul>
