    </ul>
<p>
      <a name="end"><b>Dato de la lasta mesaĝo:</b></a> 
       <i>%(lastdate)s</i><br>
    <b>Dato de enarĥivigo:</b> <i>%(archivedate)s</i>
    <p>
   <ul>
         <li> <b>Mesaĝoj ordigitaj laŭ:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s
             <li><b><a href="%(listinfo)s">Plia informo pri tiu ĉi listo...
                    </a></b></li>
     </ul>
     <p>
     <hr>
     <i>Ĉi tiun arĥivon kreis Pipermail %(version)s.</i>
  </BODY>
</HTML>
