<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- $Revision: 6597 $ -->
<html>
<head>
  <title>Informopaĝo de <MM-List-Name></title>
</head>
    <body bgcolor="#ffffff">
      
<p>       
<table border="0" cellspacing="4" cellpadding="5">
 	<tr>
 	  <td colspan="2" width="100%" bgcolor="#99ccff" align="center"> 	    
		<b><font color="#000000" size="+1"><MM-List-Name> -- <MM-List-Description></font></b>
 	  </td>
 	</tr>
 	<tr>
 	    <td colspan="2"> 	      
      	     <p>&nbsp;</p>
            </td>
 	  </tr>
 	  <tr>
 	    <td colspan="1" width="100%" bgcolor="#fff0d0"> 	      
		<b><font color="#000000">Pri la listo <MM-List-Name></font></b> 	 
  	    </td>
            <td colspan="1" width="100%" bgcolor="#fff0d0">            
  		<MM-lang-form-start><MM-displang-box> <MM-list-langs>               
		<MM-form-end>
	    </td>
 	  </tr>
 	    <tr>
 	      <td colspan="2"> 		
      		<p><MM-List-Info></p>
 		<p> Por vidi ĉiujn antaŭajn mesaĝojn, vizitu la listarĥivon <MM-Archive>Arĥivoj de <MM-List-Name> 
		</MM-Archive>.
		<MM-Restricted-List-Message>
		</p>
 	</td>
       </tr>
       <tr>
 	<td colspan="2" width="100%" bgcolor="#fff0d0"> 	  <b><font
 color="#000000">Uzo de <MM-List-Name></font></b> 	
	</td>
       </tr>
       <tr>
 	<td colspan="2"> 	  
	Por sendi retpoŝton al ĉiuj listanoj, sendu ĝin al 	  
	<a href="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></a>.  	  

      <p>Vi povas aboni la liston aŭ agordi vian abonon per la ĉi-subaj sekcioj. </p>
      </td>
       </tr>
       <tr>
 	<td colspan="2" width="100%" bgcolor="#fff0d0"> 	  
<b><font color="#000000">Aboni la liston <MM-List-Name><font></b>
 	</td>
       </tr>
       <tr>
 	<td colspan="2"> 	  
      <p> 	    
	Abonu la liston <MM-List-Name> plenigante la ĉi-suban abonilon. 	  
	<MM-List-Subscription-Msg> 	 
      <ul>    
     <MM-Subscribe-Form-Start>
        <table border="0" cellspacing="2" cellpadding="2" width="70%">
            <tr>
 		  <td bgcolor="#dddddd" width="55%">Via retpoŝtadreso:</td>
 		  <td width="33%"><MM-Subscribe-Box>
	</td>
 	<td width="12%">&nbsp;</td>
            </tr>
       <tr>
         <td bgcolor="#dddddd" width="55%">Via nomo (nedevige):</td>
         <td width="33%"><mm-fullname-box></td>
 	<td width="12%">&nbsp;</td>
            </tr>
       <tr>
 	<td colspan="3"><font size="-1">Pro privateco, vi devas enigi pasvorton. Tio ne tute sekurigas vian konton, tamen plej verŝajne malhelpos iun ajn ŝanĝi viajn abonojn. 	    
	<b>Ne elektu jam uzitan pasvorton</b> ĉar foje ĝi estos malkaŝe resendata al vi.  		   </font>
              <p><font size="-1">Se vi neniun elektos, aŭtomate kreitan pasvorton vi retpoŝte ricevos post konfirmo de via abonpeto. Vi ĉiam povos peti resendon de via pasvorto en via agordo-paĝo.
		<MM-Reminder></font></p>
              </td>
       </tr>
         <tr>
 	<td bgcolor="#dddddd">Enigu pasvorton:</td>
 	<td><MM-New-Password-Box></td>
 	<td>&nbsp;</td>
            </tr>
       <tr>
  	<td bgcolor="#dddddd">Konfirmu pasvorton:</td>
 	<td><MM-Confirm-Password></td>
 	<td>&nbsp; </td>
            </tr>
       <tr>
         <td bgcolor="#dddddd">Kiun lingvon vi preferas?</td>
          <td> <MM-list-langs></td>
         <td>&nbsp; </td>
            </tr>
       <mm-digest-question-start>
       <tr>
 	<td>Ĉu vi deziras ricevi la poŝton de la listo kompilita en ĉiutaga resumo? 	  
	</td>
 	<td><MM-Undigest-Radio-Button> Ne 	    
	    <MM-Digest-Radio-Button>  Jes 
	</td>
       </tr>
	<mm-digest-question-end>
       <mm-recaptcha-ui>
       <mm-captcha-ui>
       <tr>
 	<td colspan="3"> 	  
              <center><MM-Subscribe-Button></center>
        </td>
        </tr>
        </table>
     <MM-Form-End>    
      </ul>
     <tr>
       <td colspan="2" width="100%" bgcolor="#fff0d0"> 	
	<a name="subscribers">         
	<b><font color="#000000">Abonantoj de 
	<MM-List-Name></font></b></a>
       </td>
     </tr>
     <tr>
       <td colspan="2" width="100%"> 	
	<MM-Roster-Form-Start> 	
	<MM-Roster-Option>
 		<MM-Form-End>
      	<p> 	
	<MM-Options-Form-Start> 	
	<MM-Editing-Options> 		
		<MM-Form-End> 
        </td>
     </tr>
</table>
 <MM-Mailman-Footer>
</body>
</html>
