Această pagină conţine un sumar al setului curent de cereri administrative
care aşteaptă aprobarea dumneavoastră pentru <a href="%(adminurl)s">lista de discuţii
<em>%(listname)s</em></a>.<br>
Mai &icirc;nt&acirc;i, veţi găsi o listă a cererilor de abonare/dezabonare, dacă
există, urmate de orice mesaje care sunt reţinute &icirc;n vederea aprobării.

<p>Pentru fiecare cerere administrativă, alegeţi acţiunea corespunzătoare,
apăs&acirc;nd pe butonul <b>Salvează toate datele</b> c&acirc;nd aţi terminat.<br>
<a href="%(detailsurl)s">Aici</a> sunt disponibile mai multe instrucţiuni detaliate.

<p>Puteţi, de asemena, să <a href="%(viewallurl)s">afişaţi detaliile</a> tuturor
mesajelor publicate.
