Această pagină conţine o parte a mesajelor publicate pe lista de discuţii
<em>%(listname)s</em>, dar care sunt reţinute &icirc;n aşteptarea aprobării
dumneavoastră.  &Icirc;n prezent arată
%(description)s

<p>Pentru fiecare cerere administrativă, alegeţi acţiunea de urmat,
apăsĂ˘nd butonul <b>SalveazĂ˘ toate datele</b> la final.  Instrucţiuni
detaliate sunt disponibile <a href="%(detailsurl)s">aici</a>.

<p>Puteţi, de asemenea, afişa un <a href="%(summaryurl)s">sumar</a> al
tuturor cererilor &icirc;n aşteptare.
