<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>Arhivele %(listname)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
  </HEAD>
  <BODY BGCOLOR="#ffffff">
     <h1>Arhivele %(listname)s</h1>
     <p>
      &Icirc;ncă nu au fost publicate mesaje pe această listă, astfel &icirc;nc&acirc;t arhivele sunt
      goale &icirc;n acest moment.  Puteţi &icirc;nsă obţine <a href="%(listinfo)s">mai multe detalii
      despre această listă</a>.
     </p>
  </BODY>
  </HTML>
