Acest text poate include
<a href="https://docs.python.org/2/library/stdtypes.html#string-formatting-operations">şiruri
de caractere formatate Python</a> care sunt rezolvate vis-a-ais de atributele
listei.  Lista substituţiilor permise este:

<ul>
    <li><b>real_name</b> - Numele "frumos" al listei; de obicei este vorba de
    numele listei, cu iniţiala majusculă.

    <li><b>list_name</b> - Numele sub care lista este identificată &icirc;n adrese URL,
    acolo unde literele mari/mici contează.

    <li><b>host_name</b> - Numele de domeniu calificat (FQDN) al serverului pe
    care rulează lista.

    <li><b>web_page_url</b> - Adresa de bază pentru Mailman.  Aceasta poate fi,
    de exemplu, continuată cu <em>listinfo/%(list_name)s</em> pentru a ajunge la
    pagina de detalii despre listă.

    <li><b>description</b> - Descrierea sumară a listei de discuţii.

    <li><b>info</b> - Descrierea detaliată a listei de discuţii.

    <li><b>cgiext</b> - Extensia adăugată scripturilor cgi.
</ul>
