<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- $Revizia: 2.4 $ -->
<HTML>
  <HEAD>
    <TITLE><MM-List-Name> - Informaţii Generale</TITLE>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
  </HEAD>
  <BODY BGCOLOR="#ffffff">
    <P>
      <TABLE BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> -- <MM-List-Description></FONT></B>
	  </TD>
	</TR>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </td>
	  </tr>
	  <tr>
	    <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
	      <B><FONT COLOR="#000000">Lista <MM-List-Name></FONT></B>
	    </TD>
            <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start><MM-displang-box> <MM-list-langs>
              <MM-form-end>
            </TD>
	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p> Pentru a accesa colecţia mesajelor publicate anterior
	  pe listă, vizitaţi <MM-Archive>Arhivele <MM-List-Name></MM-Archive>.
	      <MM-Restricted-List-Message>
	  </p>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">Folosirea listei <MM-List-Name></FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  Pentru a trimite un mesaj către listă, trimiteţi un email
	  la adresa <A HREF="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></A>

	  <p>&Icirc;n secţiunile următoare vă puteţi abona la această listă,
	  sau vă puteţi modifica datele existente de abonament.
	</td>
      </tr>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">Abonarea la <MM-List-Name></FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  <P>
	    Vă puteţi abona la lista de discuţii <MM-List-Name> complet&acirc;nd formularul
	    de mai jos.
	  <MM-List-Subscription-Msg>
	  <ul>
    <MM-Subscribe-Form-Start>
	      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%">
		<TR>
		  <TD BGCOLOR="#dddddd" WIDTH="55%">Adresa de email:</TD>
		  <TD WIDTH="33%"><MM-Subscribe-Box>
	</TD>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <tr>
        <td bgcolor="#dddddd" width="55%">Numele (opţional):</td>
        <td width="33%"><mm-fullname-box></td>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <TR>
	<TD COLSPAN="3"><FONT SIZE=-1>Puteţi introduce o parolă mai jos.
	    Aceasta nu va asigura o protecţie extraordinară, dar ar trebui
	    să prevină intervenţia altora &icirc;n datele dumneavoastră de abonament.
	    <b>Nu folosiţi parole valoroase</b> at&acirc;ta timp c&acirc;t acestea vă vor fi
	    retrimise ocazional &icirc;n text clar.

            <br><br>Dacă nu introduceţi nici o parolă, va fi generată automat una
	    pentru dumneavoastră, şi vă va fi trimisă de &icirc;ndată ce veţi confirma
	    abonarea la listă.  Puteţi oric&acirc;nd cere re-trimiterea parolei prin email
	    la editarea preferinţelor personale.
	    <MM-Reminder>
	    </font>
	</TD>
      </TR>
      <TR>
	<TD BGCOLOR="#dddddd">Alegeţi o parolă:</TD>
	<TD><MM-New-Password-Box></TD>
	<TD>&nbsp;</TD></TR>
      <TR>
	<TD BGCOLOR="#dddddd">Reintroduceţi parola pentru confirmare:</TD>
	<TD><MM-Confirm-Password></TD>
	<TD>&nbsp; </TD></TR>
      <tr>
        <TD BGCOLOR="#dddddd">Limba preferată:</TD>
        <TD> <MM-list-langs></TD>
        <TD>&nbsp; </TD></TR>
      <mm-digest-question-start>
      <tr>
	<td>Doriţi mesajele listei &icirc;ntr-un rezumat zilnic?</td>
	<td><MM-Undigest-Radio-Button> Nu
	    <MM-Digest-Radio-Button>  Da
	</TD>
      </tr>
      <mm-digest-question-end>
      <mm-recaptcha-ui>
      <mm-captcha-ui>
      <tr>
	<td colspan="3">
	  <center><MM-Subscribe-Button></center>
    </td>
    </tr>
    </TABLE>
    <MM-Form-End>
    </ul>
    <TR>
      <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	<a name="subscribers">
        <B><FONT COLOR="#000000">Abonaţii listei <MM-List-Name></FONT></B></a>
      </TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
	<MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
