Mailman/Archiver/Makefile
Mailman/Bouncers/Makefile
Mailman/Cgi/Makefile
Mailman/Commands/Makefile
Mailman/Defaults.py
Mailman/Gui/Makefile
Mailman/Handlers/Makefile
Mailman/Logging/Makefile
Mailman/MTA/Makefile
Mailman/Makefile
Mailman/Queue/Makefile
Mailman/__pycache__/
Mailman/mm_cfg.py.dist
Makefile
bin/Makefile
build/
config.log
config.status
cron/Makefile
cron/crontab.in
messages/Makefile
messages/ar/LC_MESSAGES/mailman.mo
messages/ast/LC_MESSAGES/mailman.mo
messages/ca/LC_MESSAGES/mailman.mo
messages/cs/LC_MESSAGES/mailman.mo
messages/da/LC_MESSAGES/mailman.mo
messages/de/LC_MESSAGES/mailman.mo
messages/el/LC_MESSAGES/mailman.mo
messages/eo/LC_MESSAGES/mailman.mo
messages/es/LC_MESSAGES/mailman.mo
messages/et/LC_MESSAGES/mailman.mo
messages/eu/LC_MESSAGES/mailman.mo
messages/fa/LC_MESSAGES/mailman.mo
messages/fi/LC_MESSAGES/mailman.mo
messages/fr/LC_MESSAGES/mailman.mo
messages/gl/LC_MESSAGES/mailman.mo
messages/he/LC_MESSAGES/mailman.mo
messages/hr/LC_MESSAGES/mailman.mo
messages/hu/LC_MESSAGES/mailman.mo
messages/ia/LC_MESSAGES/mailman.mo
messages/it/LC_MESSAGES/mailman.mo
messages/ja/LC_MESSAGES/mailman.mo
messages/ko/LC_MESSAGES/mailman.mo
messages/lt/LC_MESSAGES/mailman.mo
messages/nl/LC_MESSAGES/mailman.mo
messages/no/LC_MESSAGES/mailman.mo
messages/pl/LC_MESSAGES/mailman.mo
messages/pt/LC_MESSAGES/mailman.mo
messages/pt_BR/LC_MESSAGES/mailman.mo
messages/ro/LC_MESSAGES/mailman.mo
messages/ru/LC_MESSAGES/mailman.mo
messages/sk/LC_MESSAGES/mailman.mo
messages/sl/LC_MESSAGES/mailman.mo
messages/sr/LC_MESSAGES/mailman.mo
messages/sv/LC_MESSAGES/mailman.mo
messages/tr/LC_MESSAGES/mailman.mo
messages/uk/LC_MESSAGES/mailman.mo
messages/vi/LC_MESSAGES/mailman.mo
messages/zh_CN/LC_MESSAGES/mailman.mo
messages/zh_TW/LC_MESSAGES/mailman.mo
misc/Makefile
misc/mailman
misc/paths.py
scripts/Makefile
src/Makefile
src/admin
src/admindb
src/common.o
src/confirm
src/create
src/edithtml
src/listinfo
src/mailman
src/options
src/private
src/rmlist
src/roster
src/subscribe
src/vsnprintf.o
templates/Makefile
tests/Makefile
tests/bounces/Makefile
tests/msgs/Makefile
