Bu sayfa
<a href="%(adminurl)s"><em>%(listname)s</em> mesaj listesi</a> i&ccedil;in,
onayýnýzý bekleyen y&ouml;netimsel isteklerin bir &ouml;zetini i&ccedil;erir.
&Ouml;nce, bekleyen &uuml;yelik ve &uuml;yelikten &ccedil;ýkma isteklerini g&ouml;receksiniz,
sonra, eðer varsa, onayýnýzý bekleyen mesajlarý g&ouml;receksiniz.

<p>Her bir y&ouml;netimsel istek i&ccedil;in, l&uuml;tfen uygulanacak eylemi se&ccedil;in ve
iþiniz bitince <strong>T&uuml;m Veriyi G&ouml;nder</strong> d&uuml;ðmesine týklayýn.
<a href="%(detailsurl)s">Burada</a> daha ayrýntýlý a&ccedil;ýklamalarý
bulabilirsiniz.

<p>Ayrýca bekletilen t&uuml;m mesajlarýn
<a href="%(viewallurl)s">ayrýntýlarýný da g&ouml;rebilirsiniz</a>.

