Y&ouml;netimsel istekler, iki yoldan biriyle g&ouml;r&uuml;nt&uuml;lenir, bir
<a href="%(summaryurl)s">&ouml;zet sayfasýnda</a> ve bir <em>ayrýntýlar</em>
sayfasýnda. &Ouml;zet sayfasý, &uuml;yelik ve &uuml;yelikten &ccedil;ýkma istekleri ile
onayýnýz i&ccedil;in bekletilen mesajlarý g&ouml;nderici e-posta adresine g&ouml;re
gruplanmýþ þekilde g&ouml;r&uuml;nt&uuml;ler. Ayrýntýlar sayfasý, t&uuml;m baþlýklar ve
mesaj g&ouml;vdesinden bir alýntý da i&ccedil;eren, bekletilen her mesajla
ilgili daha ayrýntýlý bir g&ouml;r&uuml;n&uuml;m i&ccedil;erir.

<p>T&uuml;m sayfalarda, aþaðýdaki eylemler kullanýlabilir:

<ul>
<li><b>Ertele</b> -- Kararýnýzý daha sonraya erteler. Þimdilik bu
    y&ouml;netimsel istek i&ccedil;in bir eylem ger&ccedil;ekleþtirilmez, fakat bekletilen
    mesajlar i&ccedil;in, mesajý hala iletebilir veya saklayabilirsiniz
    (aþaðýya bakýn).

<li><b>Onayla</b> -- Mesajý, listeye g&ouml;nderilmesi i&ccedil;in onaylar. &Uuml;yelik
    istekleri i&ccedil;in, &uuml;yelik durumundaki deðiþikliði onaylar.

<li><b>Reddet</b> -- Mesajý reddeder, g&ouml;ndericiye bir reddetme bildirimi
    g&ouml;nderir ve &ouml;zg&uuml;n mesajý g&ouml;zardý eder. &Uuml;yelik istekleri i&ccedil;in, &uuml;yelik
    durumundaki deðiþikliði reddeder. Her iki durumda da, reddetme
    nedeniniz olarak, se&ccedil;eneðin yanýndaki yazý kutusuna bir neden
    yazmanýz uygun olacaktýr.

<li><b>G&ouml;zardý Et</b> -- &Ouml;zg&uuml;n mesajý siler ve g&ouml;ndericiye bir reddetme
    bildirimi g&ouml;ndermez. &Uuml;yelik istekleri i&ccedil;in, isteði yapan kiþiye
    bildirmeden, isteði g&ouml;zardý eder. Bu, genellikle spam mesajlar i&ccedil;in
    kullanmak isteyebileceðiniz bir eylemdir.
</ul>

<p>Bekletilen mesajlar i&ccedil;in, <strong>Sakla</strong> se&ccedil;eneðini se&ccedil;erek
mesajýn bir kopyasýný site y&ouml;neticisi i&ccedil;in kaydedebilirsiniz. Bu,
g&ouml;zardý etmek, fakat sonraki bir zamanda araþtýrma i&ccedil;in kaydýný tutmak
istediðiniz k&ouml;t&uuml; ama&ccedil;lý mesajlar i&ccedil;in kullanýþlýdýr.

<p>Mesajý listede olmayan baþka birisine iletmek i&ccedil;in <strong>Ýlet</strong>
se&ccedil;eneðini se&ccedil;in ve iletim adresini yazýn. Bekletilen bir mesajý listeye
g&ouml;nderilmeden  &ouml;nce d&uuml;zenlemek isterseniz, &ouml;nce mesajý kendinize (liste
sahiplerine deðil) iletip &ouml;zg&uuml;n mesajý g&ouml;zardý etmelisiniz. Daha sonra
mesaj size geldiðinde d&uuml;zenlemelerinizi yapýn ve bir <tt>Approved:</tt>
baþlýðýna liste þifresini yazarak mesajý tekrar listeye g&ouml;nderin. Bu
durumda, tekrar g&ouml;nderdiðiniz mesaja, yazýyý d&uuml;zenlediðinizi a&ccedil;ýklayan
bir not eklemeniz uygun olacaktýr.

<p>G&ouml;nderici, moderat&ouml;r onaylý bir liste &uuml;yesiyse isteðe baðlý olarak
o kiþinin moderat&ouml;r onay ayarýný da silebilirsiniz. Bu, yeni &uuml;yeleri
bir deneme s&uuml;resine koyduðunuzda ve artýk bu &uuml;yeye onay gerektirmeden
listeye mesaj g&ouml;nderebilmesi i&ccedil;in g&uuml;venilebileceðine karar verdiðinizde
kullanýþlýdýr.

<p>G&ouml;nderici bir liste &uuml;yesi deðilse, e-posta adresini bir <em>g&ouml;nderici
filtresine</em> ekleyebilirsiniz. G&ouml;nderici filtreleri, <a
href="%(filterurl)s">g&ouml;nderici filtreleri gizlilik sayfasýnda</a>
tanýmlanýr ve <b>otomatik onayla</b> (Onaylanacaklar),
<b>otomatik reddet</b> (Reddedilecekler), <b>otomatik beklet</b>
(Bekletilecekler) veya <b>otomatik g&ouml;zardý et</b> (G&ouml;zardý edilecekler)
olabilir. Bu se&ccedil;enek, e-posta adresi halen bir g&ouml;nderici filtresine kayýtlýysa
g&ouml;r&uuml;lmez.

<p>Ýþiniz bittiðinde, sayfanýn en altýndaki <em>T&uuml;m Veriyi G&ouml;nder</em>
d&uuml;ðmesine týklayýn. Bu d&uuml;ðme, bir karar verdiðiniz t&uuml;m y&ouml;netimsel
isteklerle ilgili se&ccedil;ilen eylemleri g&ouml;nderir.

<p><a href="%(summaryurl)s">&Ouml;zet sayfasýna geri d&ouml;n</a>.

