Bu sayfa
<a href="%(adminurl)s"><em>%(listname)s</em> mesaj listesi</a> i&ccedil;in,
onayınızı bekleyen y&ouml;netimsel isteklerin bir &ouml;zetini i&ccedil;erir.
&Ouml;nce, bekleyen &uuml;yelik ve &uuml;yelikten &ccedil;ıkma isteklerini g&ouml;receksiniz,
sonra, eğer varsa, onayınızı bekleyen mesajları g&ouml;receksiniz.

<p>Her bir y&ouml;netimsel istek i&ccedil;in, l&uuml;tfen uygulanacak eylemi se&ccedil;in ve
işiniz bitince <strong>T&uuml;m Veriyi G&ouml;nder</strong> d&uuml;ğmesine tıklayın.
<a href="%(detailsurl)s">Burada</a> daha ayrıntılı a&ccedil;ıklamaları
bulabilirsiniz.

<p>Ayrıca bekletilen t&uuml;m mesajların
<a href="%(viewallurl)s">ayrıntılarını da g&ouml;rebilirsiniz</a>.

