Bu sayfa, <em>%(listname)s</em> listesine g&ouml;nderilmiþ ve onayýnýz i&ccedil;in
bekletilen mesajlarýn bir altk&uuml;mesini i&ccedil;erir. Þu anda g&ouml;r&uuml;nt&uuml;lenen:
%(description)s

<p>Her bir y&ouml;netimsel istek i&ccedil;in, l&uuml;tfen uygulanacak eylemi se&ccedil;in ve
iþiniz bitince <strong>T&uuml;m Veriyi G&ouml;nder</strong> d&uuml;ðmesine týklayýn.
<a href="%(detailsurl)s">Burada</a> daha ayrýntýlý a&ccedil;ýklamalarý
bulabilirsiniz.

<p>Ayrýca t&uuml;m bekleyen isteklerin <a href="%(summaryurl)s">bir &ouml;zetini de</a>
g&ouml;rebilirsiniz.

