Y&ouml;netimsel istekler, iki yoldan biriyle g&ouml;r&uuml;nt&uuml;lenir, bir
<a href="%(summaryurl)s">&ouml;zet sayfasında</a> ve bir <em>ayrıntılar</em>
sayfasında. &Ouml;zet sayfası, &uuml;yelik ve &uuml;yelikten &ccedil;ıkma istekleri ile
onayınız i&ccedil;in bekletilen mesajları g&ouml;nderici e-posta adresine g&ouml;re
gruplanmış şekilde g&ouml;r&uuml;nt&uuml;ler. Ayrıntılar sayfası, t&uuml;m başlıklar ve
mesaj g&ouml;vdesinden bir alıntı da i&ccedil;eren, bekletilen her mesajla
ilgili daha ayrıntılı bir g&ouml;r&uuml;n&uuml;m i&ccedil;erir.

<p>T&uuml;m sayfalarda, aşağıdaki eylemler kullanılabilir:

<ul>
<li><b>Ertele</b> -- Kararınızı daha sonraya erteler. Şimdilik bu
    y&ouml;netimsel istek i&ccedil;in bir eylem ger&ccedil;ekleştirilmez, fakat bekletilen
    mesajlar i&ccedil;in, mesajı hala iletebilir veya saklayabilirsiniz
    (aşağıya bakın).

<li><b>Onayla</b> -- Mesajı, listeye g&ouml;nderilmesi i&ccedil;in onaylar. &Uuml;yelik
    istekleri i&ccedil;in, &uuml;yelik durumundaki değişikliği onaylar.

<li><b>Reddet</b> -- Mesajı reddeder, g&ouml;ndericiye bir reddetme bildirimi
    g&ouml;nderir ve &ouml;zg&uuml;n mesajı g&ouml;zardı eder. &Uuml;yelik istekleri i&ccedil;in, &uuml;yelik
    durumundaki değişikliği reddeder. Her iki durumda da, reddetme
    nedeniniz olarak, se&ccedil;eneğin yanındaki yazı kutusuna bir neden
    yazmanız uygun olacaktır.

<li><b>G&ouml;zardı Et</b> -- &Ouml;zg&uuml;n mesajı siler ve g&ouml;ndericiye bir reddetme
    bildirimi g&ouml;ndermez. &Uuml;yelik istekleri i&ccedil;in, isteği yapan kişiye
    bildirmeden, isteği g&ouml;zardı eder. Bu, genellikle spam mesajlar i&ccedil;in
    kullanmak isteyebileceğiniz bir eylemdir.
</ul>

<p>Bekletilen mesajlar i&ccedil;in, <strong>Sakla</strong> se&ccedil;eneğini se&ccedil;erek
mesajın bir kopyasını site y&ouml;neticisi i&ccedil;in kaydedebilirsiniz. Bu,
g&ouml;zardı etmek, fakat sonraki bir zamanda araştırma i&ccedil;in kaydını tutmak
istediğiniz k&ouml;t&uuml; ama&ccedil;lı mesajlar i&ccedil;in kullanışlıdır.

<p>Mesajı listede olmayan başka birisine iletmek i&ccedil;in <strong>İlet</strong>
se&ccedil;eneğini se&ccedil;in ve iletim adresini yazın. Bekletilen bir mesajı listeye
g&ouml;nderilmeden  &ouml;nce d&uuml;zenlemek isterseniz, &ouml;nce mesajı kendinize (liste
sahiplerine değil) iletip &ouml;zg&uuml;n mesajı g&ouml;zardı etmelisiniz. Daha sonra
mesaj size geldiğinde d&uuml;zenlemelerinizi yapın ve bir <tt>Approved:</tt>
başlığına liste şifresini yazarak mesajı tekrar listeye g&ouml;nderin. Bu
durumda, tekrar g&ouml;nderdiğiniz mesaja, yazıyı d&uuml;zenlediğinizi a&ccedil;ıklayan
bir not eklemeniz uygun olacaktır.

<p>G&ouml;nderici, moderat&ouml;r onaylı bir liste &uuml;yesiyse isteğe bağlı olarak
o kişinin moderat&ouml;r onay ayarını da silebilirsiniz. Bu, yeni &uuml;yeleri
bir deneme s&uuml;resine koyduğunuzda ve artık bu &uuml;yeye onay gerektirmeden
listeye mesaj g&ouml;nderebilmesi i&ccedil;in g&uuml;venilebileceğine karar verdiğinizde
kullanışlıdır.

<p>G&ouml;nderici bir liste &uuml;yesi değilse, e-posta adresini bir <em>g&ouml;nderici
filtresine</em> ekleyebilirsiniz. G&ouml;nderici filtreleri, <a
href="%(filterurl)s">g&ouml;nderici filtreleri gizlilik sayfasında</a>
tanımlanır ve <b>otomatik onayla</b> (Onaylanacaklar),
<b>otomatik reddet</b> (Reddedilecekler), <b>otomatik beklet</b>
(Bekletilecekler) veya <b>otomatik g&ouml;zardı et</b> (G&ouml;zardı edilecekler)
olabilir. Bu se&ccedil;enek, e-posta adresi halen bir g&ouml;nderici filtresine kayıtlıysa
g&ouml;r&uuml;lmez.

<p>İşiniz bittiğinde, sayfanın en altındaki <em>T&uuml;m Veriyi G&ouml;nder</em>
d&uuml;ğmesine tıklayın. Bu d&uuml;ğme, bir karar verdiğiniz t&uuml;m y&ouml;netimsel
isteklerle ilgili se&ccedil;ilen eylemleri g&ouml;nderir.

<p><a href="%(summaryurl)s">&Ouml;zet sayfasına geri d&ouml;n</a>.

