<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>%(archtype)s sıralaması ile %(listname)s %(archive)s Arşivleri</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(encoding)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
      <a name="start"></A>
      <h1>%(archtype)s sıralaması ile %(archive)s Arşivleri</h1>
      <ul>
         <li> <b>Mesaj sıralaması:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s

	     <li><b><a href="%(listinfo)s">Bu liste ilgili daha fazla bilgi...
                    </a></b></li>
      </ul>
      <p><b>Başlangı&ccedil; tarihi:</b> <i>%(firstdate)s</i><br>
         <b>Bitiş tarihi:</b> <i>%(lastdate)s</i><br>
         <b>Mesaj sayısı:</b> %(size)s<p>
     <ul>

