Bu yazı, liste &ouml;zniteliklerine karşı &ccedil;&ouml;z&uuml;lecek
<a href="https://docs.python.org/2/library/stdtypes.html#string-formatting-operations">Python
bi&ccedil;im dizgileri</a> i&ccedil;erebilir. İzin verilen yerine koymaların listesi
şunlardır:

<ul>
    <li><b>real_name</b> - Listenin ismi; genellikle listenin
    isminin b&uuml;y&uuml;k harfle yazılmasıdır.

    <li><b>list_name</b> - Listenin URL'lerde tanımlandığı
    isim, b&uuml;y&uuml;k-k&uuml;&ccedil;&uuml;k harf burada anlamlıdır.

    <li><b>host_name</b> - Liste sunucusunun &uuml;zerinde
    &ccedil;alıştığı bilgisayarın tam tanımlı alan ismidir (FQDN).

    <li><b>web_page_url</b> - Mailman i&ccedil;in temel URL. Bunun
    arkasına, &ouml;rneğin <em>listinfo/%(list_name)s</em>
    eklenerek o mesaj listesi i&ccedil;in liste tanıtım sayfasına
    gidilebilir.

    <li><b>description</b> - Mesaj listesinin kısa bir
    a&ccedil;ıklaması.

    <li><b>info</b> - Mesaj listesinin tam a&ccedil;ıklaması.

    <li><b>cgiext</b> - CGI betiklerine eklenecek uzantı.
</ul>

