Bu yazý, liste &ouml;zniteliklerine karþý &ccedil;&ouml;z&uuml;lecek
<a href="https://docs.python.org/2/library/stdtypes.html#string-formatting-operations">Python
bi&ccedil;im dizgileri</a> i&ccedil;erebilir. Ýzin verilen yerine koymalarýn listesi
þunlardýr:

<ul>
    <li><b>real_name</b> - Listenin ismi; genellikle listenin
    isminin b&uuml;y&uuml;k harfle yazýlmasýdýr.

    <li><b>list_name</b> - Listenin URL'lerde tanýmlandýðý
    isim, b&uuml;y&uuml;k-k&uuml;&ccedil;&uuml;k harf burada anlamlýdýr.

    <li><b>host_name</b> - Liste sunucusunun &uuml;zerinde
    &ccedil;alýþtýðý bilgisayarýn tam tanýmlý alan ismidir (FQDN).

    <li><b>web_page_url</b> - Mailman i&ccedil;in temel URL. Bunun
    arkasýna, &ouml;rneðin <em>listinfo/%(list_name)s</em>
    eklenerek o mesaj listesi i&ccedil;in liste tanýtým sayfasýna
    gidilebilir.

    <li><b>description</b> - Mesaj listesinin kýsa bir
    a&ccedil;ýklamasý.

    <li><b>info</b> - Mesaj listesinin tam a&ccedil;ýklamasý.

    <li><b>cgiext</b> - CGI betiklerine eklenecek uzantý.
</ul>

