<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title><MM-Presentable-User> i&ccedil;in <MM-List-Name> mesaj listesi &uuml;yelik yapılandırması
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        <MM-Presentable-User> i&ccedil;in <MM-List-Name> mesaj listesi &uuml;yelik
        yapılandırması
        </FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        <b><MM-Presentable-User></b> kullanıcısının &uuml;yelik durumu,
        şifresi ve <MM-List-Name> mesaj listesi i&ccedil;in se&ccedil;enekleri.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B><MM-List-Name> &uuml;yelik bilgilerinizin değişimi</B>
        </FONT></TD></TR>
    <tr><td colspan="2">Mesaj listesine &uuml;ye olduğunuz e-posta adresini, aşağıdaki
        alanlara yeni bir adres girerek değiştirebilirsiniz. Yeni adrese
        bir onay mesajı gidecek ve değişiklik, onaylanmadan işleme konulmayacaktır.

        <p>Onay s&uuml;releri yaklaşık <mm-pending-days> i&ccedil;inde biter.

        <p>İsteğe bağlı olarak ger&ccedil;ek adınızı da burada ayarlayabilir veya değiştirebilirsiniz
        (&ouml;rneğin <em>John Smith</em>).

        <p>&Uuml;yelik değişikliklerinin <mm-host> &uuml;zerinde &uuml;ye olduğunuz t&uuml;m
        listelerde ge&ccedil;erli olmasını istiyorsanız, <em>Global olarak değiştir</em>
        onay kutusunu işaretleyin.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Yeni adres:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Onay i&ccedil;in
            tekrar girin:</div></td> 
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">İsminiz
            (isteğe bağlı):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>Global olarak değiştir</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B><MM-List-Name> Listesinden &Ccedil;ıkış</B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Diğer <MM-Host> &uuml;yelikleriniz</B>
        </FONT></TD></TR>

    <tr><td>
        Onay kutusunu işaretleyip bu d&uuml;ğmeye tıklayarak, bu listedeki
        &uuml;yeliğinizi bitirebilirsiniz. <strong>Uyarı:</strong>
        Bu eylem anında ger&ccedil;ekleşecektir!
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
        <mm-host> &uuml;zerinde &uuml;yesi olduğunuz t&uuml;m diğer mesaj listelerinin
        bir listesini g&ouml;rebilirsiniz. Bunu, aynı &uuml;yelik se&ccedil;eneklerini
        diğer listelerde de yapmak istiyorsanız kullanın.

        <p>
        <center><MM-Other-Subscriptions-Submit></center>
        </TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Your <MM-List-Name> Password</B>
        </FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>Şifrenizi mi Unuttunuz?</h3>
        </center>
        &Uuml;yelik adresinize şifrenizin yollanmasını istiyorsanız bu
        d&uuml;ğmeye tıklayın.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Şifre Değişimi</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Yeni
                şifre:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">Onay i&ccedil;in
                tekrar yeni şifre:</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>Global olarak değiştir.
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B><MM-List-Name> &Uuml;yelik Se&ccedil;enekleriniz</B>
        </FONT></TD></TR>
</table>

<p>
<i><strong>Şu andaki değerleriniz se&ccedil;ili olanlardır.</strong></i>

<p>Bazı se&ccedil;eneklerde bir <em>Global olarak ayarla</em> onay kutusu
olduğuna dikkat edin. Bu kutuyu işaretlemek <mm-host> &uuml;zerindeki
t&uuml;m mesaj listesi &uuml;yeliklerinizde o se&ccedil;eneğin değiştirilmesine neden olur.
Yukarıda <em>Diğer &uuml;yeliklerimi listele</em> d&uuml;ğmesine tıklayarak
&uuml;ye olduğunuz diğer mesaj listelerini g&ouml;rebilirsiniz.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong>Mesaj g&ouml;nderimi</strong></a><p>
        Bu se&ccedil;eneği <em>Etkin</em> se&ccedil;erek bu mesaj listesine g&ouml;nderilen
        mesajların size iletilmesini sağlayabilirsiniz. <em>Devre Dışı</em>
        se&ccedil;eneğini se&ccedil;erseniz, listeye hala &uuml;ye olursunuz, fakat size
        listeden bir s&uuml;reliğine mesaj gelmesini durdurabilirsiniz (&ouml;rneğin
        tatile &ccedil;ıktığınızda). Eğer mesaj g&ouml;nderimini devre dışı bırakırsanız
        geri geldiğinizde tekrar etkinleştirmeyi unutmayın; kendisi 
        otomatik olarak etkinleşmeyecektir.
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>Etkin<br>
        <mm-delivery-disable-button>Devre dışı<p>
        <mm-global-deliver-button><i>Global olarak ayarla</i>
        </td></tr>

<!--Start-Digests-Delete-->
    <tr><TD BGCOLOR="#cccccc">
        <strong>Toplu Mesaj Modunu Ayarla</strong><p>
        Toplu mesaj modunu a&ccedil;arsanız mesajları g&ouml;nderildikleri anda tek tek
        almak yerine toplu şekilde (genellikle
        g&uuml;nde bir kez, fakat olasılıkla yoğun listelerde birden &ccedil;ok) alırsınız.
        Toplu mesaj modu a&ccedil;ık konumundan kapalı konumuna getirilirse
        son bir toplu mesaj alabilirsiniz.
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>A&ccedil;ık<br>
        <MM-Digest-Radio-Button>Kapalı
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>MIME veya D&uuml;z Yazı Toplu Mesaj Alımı</strong><p>
        E-posta okuyucunuz MIME toplu mesajları desteklemiyor olabilir.
        Genelde MIME toplu mesajlar tercih edilir ama bunları okurken
        sorun yaşıyorsanız d&uuml;z yazı toplu mesajları se&ccedil;in.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>D&uuml;z Yazı<p>
        <mm-global-mime-button><i>Global olarak ayarla</i>
        </td></tr>
<!--End-Digests-Delete-->
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Mesaja kendi g&ouml;nderdiğiniz mesajları istiyor musunuz?</strong><p>
        Genellikle listeye g&ouml;nderdiğiniz t&uuml;m mesajların bir kopyasını
        alırsınız. Eğer bu kopyayı almak istemiyorsanız, bu se&ccedil;eneği
        <em>Hayır</em> olarak ayarlayın.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>Hayır<br>
        <mm-receive-own-mail-button>Evet
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Listeye mesaj g&ouml;nderdiğinizde bilgi mesajı almak istiyor musunuz?</strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>Hayır<br>
        <mm-ack-posts-button>Evet
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Bu liste i&ccedil;in şifre hatırlatıcı e-posta almak istiyor musunuz?</strong><p>
        Ayda bir, bu sunucuda &uuml;ye olduğunuz t&uuml;m listeler i&ccedil;in
        şifre hatırlatıcı i&ccedil;eren bir e-posta alırsınız. Bunu, bu liste
        i&ccedil;in, <em>Hayır</em> se&ccedil;eneğini se&ccedil;erek kapatabilirsiniz.
        &Uuml;ye olduğunuz t&uuml;m listeler i&ccedil;in şifre hatırlatıcıları kapatırsanız
        size hi&ccedil;bir hatırlatıcı e-posta g&ouml;nderilmeyecektir.
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>Hayır<br>
        <mm-get-password-reminder-button>Evet<p>
        <mm-global-remind-button><i>Global olarak ayarla</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>&Uuml;ye listesinde kendinizi gizlemek istiyor musunuz?</strong><p>
        Birisi liste &uuml;yelerini g&ouml;r&uuml;nt&uuml;lediğinde e-posta adresiniz normalde
        g&ouml;r&uuml;n&uuml;r (spam toplayıcıları engellemek i&ccedil;in değiştirilmiş bir şekilde).
        Eğer &uuml;yelik adresinizin bu listede hi&ccedil; g&ouml;r&uuml;nmesini istemiyorsanız,
        bu se&ccedil;enek i&ccedil;in <em>Evet</em> se&ccedil;in.
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>Hayır<br>
        <MM-Hide-Subscription-Button>Evet
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Hangi dili tercih edersiniz?</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Hangi konu kategorilerine &uuml;ye olmak istersiniz?</strong><p>
                Bir veya birden fazla konu se&ccedil;erek mesaj listesindeki
                trafiği filtreleyebilirsiniz, b&ouml;ylece mesajların sadece
                bir kısmını alırsınız. Eğer bir mesaj se&ccedil;tiğiniz konulardan
                bir ile eşleşirse, o mesajı alırsınız, aksi halde almazsınız.

                <p>Eğer bir mesaj hi&ccedil;bir konuyla eşleşmiyorsa, G&ouml;nderim kuralı
                aşağıdaki se&ccedil;eneğe uyacaktır. Eğer herhangi bir konu
                se&ccedil;mezseniz, mesaj listesine g&ouml;nderilen t&uuml;m mesajları
                alırsınız.
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Hi&ccedil;bir konu filtresine uymayan mesajları almak istiyor musunuz?</strong><p>

                Bu se&ccedil;enek yukarıda en az bir konuya &uuml;ye olduysanız
                etkilidir. Hi&ccedil;bir konu filtresine uymayan mesajlar i&ccedil;in
                varsayılan g&ouml;nderim kuralını tanımlar. Burada <em>Hayır</em>
                se&ccedil;eneğini se&ccedil;mek, eğer bir mesaj konu filtreleri ile
                eşleşmiyorsa, o mesajı almayacağınızı g&ouml;sterir, <em>Evet</em>
                se&ccedil;mek, filtrelerle eşleşmeyen mesajların da size
                geleceğini g&ouml;sterir.

                <p>Eğer yukarıda herhangi bir konu se&ccedil;mediyseniz,
                mesaj listesine atılan t&uuml;m mesajları alırsınız.
        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>Hayır<br>
        <mm-receive-nonmatching-topics>Evet
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Mesajların kopyaları engellensin mi?</strong><p>

                Bir liste mesajının <tt>Alıcı:</tt> veya <tt>Cc:</tt>
                başlıklarında a&ccedil;ık olarak adresiniz varsa, mesaj listesinden
                mesajın başka bir kopyasını almamayı tercih edebilirsiniz.
                Mesaj listesinden gelecek kopyaları engellemek i&ccedil;in <em>Evet</em>,
                kopyaları almak i&ccedil;in <em>Hayır</em> se&ccedil;in.

                <p>Listede &uuml;yeye kişiselleştirilmiş mesajlar etkinse
                ve kopyaları almayı tercih ederseniz, her kopya bir
                <tt>X-Mailman-Copy: yes</tt> başlığı i&ccedil;erecektir.

        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>Hayır<br>
        <mm-dont-receive-duplicates-button>Evet<p>
        <mm-global-nodupes-button><i>Global olarak ayarla</i>
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>

