<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title><MM-Presentable-User> i&ccedil;in <MM-List-Name> mesaj listesi &uuml;yelik yapýlandýrmasý
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        <MM-Presentable-User> i&ccedil;in <MM-List-Name> mesaj listesi &uuml;yelik
        yapýlandýrmasý
        </FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        <b><MM-Presentable-User></b> kullanýcýsýnýn &uuml;yelik durumu,
        þifresi ve <MM-List-Name> mesaj listesi i&ccedil;in se&ccedil;enekleri.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B><MM-List-Name> &uuml;yelik bilgilerinizin deðiþimi</B>
        </FONT></TD></TR>
    <tr><td colspan="2">Mesaj listesine &uuml;ye olduðunuz e-posta adresini, aþaðýdaki
        alanlara yeni bir adres girerek deðiþtirebilirsiniz. Yeni adrese
        bir onay mesajý gidecek ve deðiþiklik, onaylanmadan iþleme konulmayacaktýr.

        <p>Onay s&uuml;releri yaklaþýk <mm-pending-days> i&ccedil;inde biter.

        <p>Ýsteðe baðlý olarak ger&ccedil;ek adýnýzý da burada ayarlayabilir veya deðiþtirebilirsiniz
        (&ouml;rneðin <em>John Smith</em>).

        <p>&Uuml;yelik deðiþikliklerinin <mm-host> &uuml;zerinde &uuml;ye olduðunuz t&uuml;m
        listelerde ge&ccedil;erli olmasýný istiyorsanýz, <em>Global olarak deðiþtir</em>
        onay kutusunu iþaretleyin.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Yeni adres:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Onay i&ccedil;in
            tekrar girin:</div></td> 
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">Ýsminiz
            (isteðe baðlý):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>Global olarak deðiþtir</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B><MM-List-Name> Listesinden &Ccedil;ýkýþ</B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Diðer <MM-Host> &uuml;yelikleriniz</B>
        </FONT></TD></TR>

    <tr><td>
        Onay kutusunu iþaretleyip bu d&uuml;ðmeye týklayarak, bu listedeki
        &uuml;yeliðinizi bitirebilirsiniz. <strong>Uyarý:</strong>
        Bu eylem anýnda ger&ccedil;ekleþecektir!
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
        <mm-host> &uuml;zerinde &uuml;yesi olduðunuz t&uuml;m diðer mesaj listelerinin
        bir listesini g&ouml;rebilirsiniz. Bunu, ayný &uuml;yelik se&ccedil;eneklerini
        diðer listelerde de yapmak istiyorsanýz kullanýn.

        <p>
        <center><MM-Other-Subscriptions-Submit></center>
        </TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Your <MM-List-Name> Password</B>
        </FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>Þifrenizi mi Unuttunuz?</h3>
        </center>
        &Uuml;yelik adresinize þifrenizin yollanmasýný istiyorsanýz bu
        d&uuml;ðmeye týklayýn.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Þifre Deðiþimi</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Yeni
                þifre:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">Onay i&ccedil;in
                tekrar yeni þifre:</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>Global olarak deðiþtir.
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B><MM-List-Name> &Uuml;yelik Se&ccedil;enekleriniz</B>
        </FONT></TD></TR>
</table>

<p>
<i><strong>Þu andaki deðerleriniz se&ccedil;ili olanlardýr.</strong></i>

<p>Bazý se&ccedil;eneklerde bir <em>Global olarak ayarla</em> onay kutusu
olduðuna dikkat edin. Bu kutuyu iþaretlemek <mm-host> &uuml;zerindeki
t&uuml;m mesaj listesi &uuml;yeliklerinizde o se&ccedil;eneðin deðiþtirilmesine neden olur.
Yukarýda <em>Diðer &uuml;yeliklerimi listele</em> d&uuml;ðmesine týklayarak
&uuml;ye olduðunuz diðer mesaj listelerini g&ouml;rebilirsiniz.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong>Mesaj g&ouml;nderimi</strong></a><p>
        Bu se&ccedil;eneði <em>Etkin</em> se&ccedil;erek bu mesaj listesine g&ouml;nderilen
        mesajlarýn size iletilmesini saðlayabilirsiniz. <em>Devre Dýþý</em>
        se&ccedil;eneðini se&ccedil;erseniz, listeye hala &uuml;ye olursunuz, fakat size
        listeden bir s&uuml;reliðine mesaj gelmesini durdurabilirsiniz (&ouml;rneðin
        tatile &ccedil;ýktýðýnýzda). Eðer mesaj g&ouml;nderimini devre dýþý býrakýrsanýz
        geri geldiðinizde tekrar etkinleþtirmeyi unutmayýn; kendisi 
        otomatik olarak etkinleþmeyecektir.
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>Etkin<br>
        <mm-delivery-disable-button>Devre dýþý<p>
        <mm-global-deliver-button><i>Global olarak ayarla</i>
        </td></tr>

<!--Start-Digests-Delete-->
    <tr><TD BGCOLOR="#cccccc">
        <strong>Toplu Mesaj Modunu Ayarla</strong><p>
        Toplu mesaj modunu a&ccedil;arsanýz mesajlarý g&ouml;nderildikleri anda tek tek
        almak yerine toplu þekilde (genellikle
        g&uuml;nde bir kez, fakat olasýlýkla yoðun listelerde birden &ccedil;ok) alýrsýnýz.
        Toplu mesaj modu a&ccedil;ýk konumundan kapalý konumuna getirilirse
        son bir toplu mesaj alabilirsiniz.
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>A&ccedil;ýk<br>
        <MM-Digest-Radio-Button>Kapalý
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>MIME veya D&uuml;z Yazý Toplu Mesaj Alýmý</strong><p>
        E-posta okuyucunuz MIME toplu mesajlarý desteklemiyor olabilir.
        Genelde MIME toplu mesajlar tercih edilir ama bunlarý okurken
        sorun yaþýyorsanýz d&uuml;z yazý toplu mesajlarý se&ccedil;in.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>D&uuml;z Yazý<p>
        <mm-global-mime-button><i>Global olarak ayarla</i>
        </td></tr>
<!--End-Digests-Delete-->
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Mesaja kendi g&ouml;nderdiðiniz mesajlarý istiyor musunuz?</strong><p>
        Genellikle listeye g&ouml;nderdiðiniz t&uuml;m mesajlarýn bir kopyasýný
        alýrsýnýz. Eðer bu kopyayý almak istemiyorsanýz, bu se&ccedil;eneði
        <em>Hayýr</em> olarak ayarlayýn.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>Hayýr<br>
        <mm-receive-own-mail-button>Evet
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Listeye mesaj g&ouml;nderdiðinizde bilgi mesajý almak istiyor musunuz?</strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>Hayýr<br>
        <mm-ack-posts-button>Evet
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Bu liste i&ccedil;in þifre hatýrlatýcý e-posta almak istiyor musunuz?</strong><p>
        Ayda bir, bu sunucuda &uuml;ye olduðunuz t&uuml;m listeler i&ccedil;in
        þifre hatýrlatýcý i&ccedil;eren bir e-posta alýrsýnýz. Bunu, bu liste
        i&ccedil;in, <em>Hayýr</em> se&ccedil;eneðini se&ccedil;erek kapatabilirsiniz.
        &Uuml;ye olduðunuz t&uuml;m listeler i&ccedil;in þifre hatýrlatýcýlarý kapatýrsanýz
        size hi&ccedil;bir hatýrlatýcý e-posta g&ouml;nderilmeyecektir.
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>Hayýr<br>
        <mm-get-password-reminder-button>Evet<p>
        <mm-global-remind-button><i>Global olarak ayarla</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>&Uuml;ye listesinde kendinizi gizlemek istiyor musunuz?</strong><p>
        Birisi liste &uuml;yelerini g&ouml;r&uuml;nt&uuml;lediðinde e-posta adresiniz normalde
        g&ouml;r&uuml;n&uuml;r (spam toplayýcýlarý engellemek i&ccedil;in deðiþtirilmiþ bir þekilde).
        Eðer &uuml;yelik adresinizin bu listede hi&ccedil; g&ouml;r&uuml;nmesini istemiyorsanýz,
        bu se&ccedil;enek i&ccedil;in <em>Evet</em> se&ccedil;in.
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>Hayýr<br>
        <MM-Hide-Subscription-Button>Evet
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Hangi dili tercih edersiniz?</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Hangi konu kategorilerine &uuml;ye olmak istersiniz?</strong><p>
                Bir veya birden fazla konu se&ccedil;erek mesaj listesindeki
                trafiði filtreleyebilirsiniz, b&ouml;ylece mesajlarýn sadece
                bir kýsmýný alýrsýnýz. Eðer bir mesaj se&ccedil;tiðiniz konulardan
                bir ile eþleþirse, o mesajý alýrsýnýz, aksi halde almazsýnýz.

                <p>Eðer bir mesaj hi&ccedil;bir konuyla eþleþmiyorsa, G&ouml;nderim kuralý
                aþaðýdaki se&ccedil;eneðe uyacaktýr. Eðer herhangi bir konu
                se&ccedil;mezseniz, mesaj listesine g&ouml;nderilen t&uuml;m mesajlarý
                alýrsýnýz.
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Hi&ccedil;bir konu filtresine uymayan mesajlarý almak istiyor musunuz?</strong><p>

                Bu se&ccedil;enek yukarýda en az bir konuya &uuml;ye olduysanýz
                etkilidir. Hi&ccedil;bir konu filtresine uymayan mesajlar i&ccedil;in
                varsayýlan g&ouml;nderim kuralýný tanýmlar. Burada <em>Hayýr</em>
                se&ccedil;eneðini se&ccedil;mek, eðer bir mesaj konu filtreleri ile
                eþleþmiyorsa, o mesajý almayacaðýnýzý g&ouml;sterir, <em>Evet</em>
                se&ccedil;mek, filtrelerle eþleþmeyen mesajlarýn da size
                geleceðini g&ouml;sterir.

                <p>Eðer yukarýda herhangi bir konu se&ccedil;mediyseniz,
                mesaj listesine atýlan t&uuml;m mesajlarý alýrsýnýz.
        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>Hayýr<br>
        <mm-receive-nonmatching-topics>Evet
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Mesajlarýn kopyalarý engellensin mi?</strong><p>

                Bir liste mesajýnýn <tt>Alýcý:</tt> veya <tt>Cc:</tt>
                baþlýklarýnda a&ccedil;ýk olarak adresiniz varsa, mesaj listesinden
                mesajýn baþka bir kopyasýný almamayý tercih edebilirsiniz.
                Mesaj listesinden gelecek kopyalarý engellemek i&ccedil;in <em>Evet</em>,
                kopyalarý almak i&ccedil;in <em>Hayýr</em> se&ccedil;in.

                <p>Listede &uuml;yeye kiþiselleþtirilmiþ mesajlar etkinse
                ve kopyalarý almayý tercih ederseniz, her kopya bir
                <tt>X-Mailman-Copy: yes</tt> baþlýðý i&ccedil;erecektir.

        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>Hayýr<br>
        <mm-dont-receive-duplicates-button>Evet<p>
        <mm-global-nodupes-button><i>Global olarak ayarla</i>
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>

