Ta stran vsebuje povzetek trenutnih skrbni&scaron;kih zahtev, ki čakajo
na va&scaron;o odobritev za po&scaron;tni seznam <a href="%(adminurl)s"><em>%(listname)s</em></a>.
Najprej vidite seznam čakajočih zahtev za prijavo in odjavo,
sledijo pa jim čakajoča sporočila za objavo.

<p>Za vsako skrbni&scaron;ko zahtevo izberite želeno dejanje in, ko
končate, kliknite na gumb <b>Po&scaron;lji vse podatke</b>. Na voljo so tudi
<a href="%(detailsurl)s">podrobna navodila</a>.

<p>Lahko si tudi <a href="%(viewallurl)s">ogledate podrobnosti</a> čakajočih sporočil.
