Skrbni&scaron;ke zahteve so prikazane na dva možna načina, kot
<a href="%(summaryurl)s">stran s povzetki</a> ali kot
<em>podrobnosti</em>. Stran s povzetki vsebuje čakajoče zahteve
za prijave in odjave, pa tudi sporočila, ki čakajo va&scaron;o odobritev
za objavo, prikazana po e-po&scaron;tnih naslovih po&scaron;iljateljev. Stran
s podrobnostmi vsebuje bolj podroben opis vsakega sporočila,
vključno z glavami sporočila in povzetkom besedila.

<p>Na vseh straneh so na voljo naslednja dejanja:

<ul>
<li><b>Odloži</b> -- Odloži odločitev na kasneje. V tem trenutku
    se ne izvede nobeno dejanje za čakajočo zahtevo, vendar lahko
    čakajoča sporočila vseeno po&scaron;ljete naprej ali ga shranite
    (glej spodaj).

<p><li><b>Odobri</b> -- Odobri sporočilo in ga po&scaron;lje na seznam.
    Pri zahtevah za članstvo odobri spremembo v stanju članstva.

<p><li><b>Zavrni</b> -- Zavrne sporočilo, po&scaron;iljatelju pa po&scaron;lje obvestilo
    o zavrnitvi in zavrže izvirno sporočilo. Pri članskih zahtevah zavrne
    spremembe v stanju članstva. V obeh primerih morate v polje za besedilo
    vnesti razlog za zavrnitev.

<p><li><b>Izbri&scaron;i</b> -- Zavrže izvirno sporočilo, brez po&scaron;iljanja
    obvestila o zavrnitvi. Pri članskih zahtevah zavrže zahtevo in
    po&scaron;iljatelju zahteve ne po&scaron;lje obvestila. Ta možnost se uporablja
    za poznano neželeno po&scaron;to (spam).
</ul>

<p>Pri obdržanih sporočilih vključite možnost <b>Obdrži</b>, če želite
shraniti kopijo sporočila za skrbnika strani. Ta možnost je uporabna
pri žaljivih sporočilih, ki jih želite zavrniti, hkrati pa shraniti kot
dokaz.

<p>Vključite možnost <b>Posreduj</b> in vnesite prejemnikov naslov,
če želite sporočilo namesto na seznam poslati nekomu drugemu. Če
želite urediti shranjeno sporočilo preden ga po&scaron;ljete na seznam,
ga po&scaron;ljite na svoj naslov (ali na naslov lastnika seznama), izvirno
sporočilo pa izbri&scaron;ite. Ko prejmete sporočilo v svoj po&scaron;tni predal,
da uredite in po&scaron;ljite na seznam, skupaj z glavo <tt>Odobreno:</tt>
in geslom seznama kot vrednostjo. Prav tako je primerno, da dodate
opombo, da ste spremenili sporočilo.

<p>Če je po&scaron;iljatelj član dopisnega seznama, katerega sporočila ste
do sedaj obravnavali, ga lahko prenehate opazovati. Če je seznam
nastavljen tako, da postavite novega uporabnika na preizku&scaron;njo,
lahko le-ta kasneje, ko mu zaupate, objavlja sporočila neposredno.

<p>Če po&scaron;iljatelj ni član seznama, lahko njegov naslov dodate v
<em>filter po&scaron;iljateljev</em>. Ti filtri so opisani na strani
<a href="%(filterurl)s">stran za filtre po&scaron;iljateljev</a>, kjer so
filtri razdeljeni na <b>auto-accept</b> (sprejme), <b>auto-hold</b>
(shrani), <b>auto-reject</b> (zavrne) ali <b>auto-discard</b>
(izbri&scaron;e). Ta možnost ne bo na voljo, če je naslov že vključen
v katerega od filtrov.

<p>Ko končate, kliknite gumb <em>Po&scaron;lji vse podatke</em> v
zgornem ali spodnjem delu strani. S tem gumbom boste aktivirali
vsa izbrana dejanja za skrbni&scaron;ke zahteve.

<p><a href="%(summaryurl)s">Vrnitev na stran s povzetki</a>.
