Ta stran vsebuje povzetek trenutnih skrbni&scaron;kih zahtev, ki èakajo
na va&scaron;o odobritev za po&scaron;tni seznam <a href="%(adminurl)s"><em>%(listname)s</em></a>.
Najprej vidite seznam èakajoèih zahtev za prijavo in odjavo,
sledijo pa jim èakajoèa sporoèila za objavo.

<p>Za vsako skrbni&scaron;ko zahtevo izberite ¾eleno dejanje in, ko
konèate, kliknite na gumb <b>Po&scaron;lji vse podatke</b>. Na voljo so tudi
<a href="%(detailsurl)s">podrobna navodila</a>.

<p>Lahko si tudi <a href="%(viewallurl)s">ogledate podrobnosti</a> èakajoèih sporoèil.
