<!-- $Revision: 6638 $ -->
<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title>Konfiguracija člana <MM-Presentable-User> za seznam <MM-List-Name>
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        <MM-List-Name> konfiguracija članstva za člana
        <MM-Presentable-User>
        </FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        <b><MM-Presentable-User></b> - stanje članstva,
        geslo in možnosti za po&scaron;tni seznam <MM-List-Name>.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B>Spreminjanje podatkov o članstvu za seznam <MM-List-Name></B>
        </FONT></TD></TR>
    <tr><td colspan="2">V spodnjih poljih lahko zamenjate naslov, s
        katerim ste prijavljeni na po&scaron;tni seznam, z novim naslovom.
        Na novi naslov bo poslano obvestilo o spremembi, ki jo morate
        potrditi, da bo obdelana.

        <p>Čas za potrditev je <mm-pending-days>.

        <p>Prav tako lahko spremenite ime (npr. <em>Janez Novak</em>).

        <p>Če želite spremeniti članstvo na vseh seznamih, na katere
        ste prijavljeni na <mm-host>, označite potrditveno polje
        <em>Spremeni globalno</em>.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Novi naslov:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Ponovite
            naslov:</div></td>
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">Va&scaron;e ime
            (neobvezno):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>Spremeni globalno</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Odjava s seznama <MM-List-Name></B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Va&scaron;a ostala članstva na <MM-Host></B>
        </FONT></TD></TR>

    <tr><td>
        Vključite polje za potrditev in pritisnite ta gumb, če se
        želite odjaviti s tega po&scaron;tnega seznama.  <strong>Opozorilo:</strong>
        Dejanje se bo izvedlo takoj!
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
        Videli boste seznam vseh ostalih po&scaron;tnih seznamov na
        <mm-host>, na katere ste prijavljeni. To uporabite, če
        želite iste možnosti spremeniti tudi za ostale sezname.

        <p>
        <center><MM-Other-Subscriptions-Submit></center>
        </TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Va&scaron;e geslo za seznam <MM-List-Name></B>
        </FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>Ali ste pozabili geslo?</h3>
        </center>
        Kliknite ta gumb in prejeli boste sporočilo na e-po&scaron;tni
        naslov, s katerim ste prijavljeni.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Sprememba gesla</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Novo
                geslo:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">Ponovi
                geslo:</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>Spremeni globalno.
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Va&scaron;e prijavne možnosti za seznam <MM-List-Name></B>
        </FONT></TD></TR>
</table>

<p>
<i><strong>Trenutne vrednosti so obkljukane.</strong></i>

<p>Nekatere možnosti imajo polje <em>Nastavi globalno</em>. Če označite
to polje, bodo narejene spremembe vplivale na vse po&scaron;tne sezname,
katerih član ste na <mm-host>.  Če želite vedeti, na katere sezname
ste &scaron;e prijavljeni, kliknite <em>Pokaži moje ostale naročnine</em>.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong>Prejemanje po&scaron;te</strong></a><p>
        Nastavite to možnost na <em>Omogočeno</em>, če želite prejemati
        sporočila s tega po&scaron;tnega seznama.  Če nastavite <em>Onemogočeno</em>,
        boste ostali prijavljeni, ne boste pa prejemali sporočil, npr.
        ko ste na dopustu.  Če onemogočite prejemanje po&scaron;te, je ne pozabite
        omogočiti, ko se vrnete; ni je mogoče omogočiti samodejno.
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>Omogočeno<br>
        <mm-delivery-disable-button>Onemogočeno<p>
        <mm-global-deliver-button><i>Nastavi globalno</i>
        </td></tr>

<!--Start-Digests-Delete-->
    <tr><TD BGCOLOR="#cccccc">
        <strong>Prejemanje izvlečkov</strong><p>
        Če vključite način prejemanja izvlečkov, boste prejemali vsa
        sporočila združena v en večji izvleček (ponavadi enega dnevno,
        odvisno od dejavnosti na seznamu), namesto posameznih sporočil.
        Ko izključite prejemanje izvlečka, boste prejeli &scaron;e zadnjega.
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>Izključeno<br>
        <MM-Digest-Radio-Button>Vključeno
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Izvlečki v MIME obliki ali kot navadno besedilo?</strong><p>
        Va&scaron; po&scaron;tni program morda ne podpira MIME izvlečkov.  Na
        splo&scaron;no so bolj priljubljeni MIME izvlečki, če pa imate težave
        z branjem le-teh, izberite obliko navadnega besedila.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>Navadno besedilo<p>
        <mm-global-mime-button><i>Nastavi globalno</i>
        </td></tr>
<!--End-Digests-Delete-->

    <tr><TD BGCOLOR="#cccccc">
        <strong>Ali želite prejemati lastna sporočila?</strong><p>
        Navadno boste prejeli kopijo vsakega sporočila, ki ga po&scaron;ljete
        na seznam.  Če ne želite prejemati kopij lastnih sporočil,
        izberite <em>Ne</em>.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>Ne<br>
        <mm-receive-own-mail-button>Da
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Ali želite prejeti potrditveno sporočilo, ko po&scaron;ljete
        sporočilo na seznam?</strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>Ne<br>
        <mm-ack-posts-button>Da
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Ali želite prejeti opomnik z geslom za ta seznam?</strong><p>
        Enkrat mesečno boste prejeli opomnik, v katerem bo navedeno
        geslo za vsak po&scaron;tni seznam na tem gostitelju, na katerega
        ste prijavljeni.  To možnost lahko izključite za posamezne
        sezname, tako da izberete <em>Ne</em>.  Če izključite opomnike
        za vse prijavljene sezname, ne boste prejemali opomnikov z geslom.
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>Ne<br>
        <mm-get-password-reminder-button>Da<p>
        <mm-global-remind-button><i>Nastavi globalno</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Ali želite prikriti svoje članstvo na tem seznamu?</strong><p>
        Navadno je va&scaron; e-po&scaron;tni naslov prikazan na seznamu članov
        tega seznama (po&scaron;iljateljem neželene po&scaron;te v popačeni
        obliki).  Če ne želite, da bi ostali videli va&scaron; e-naslov
        na seznamu članov, izberite <em>Da</em> za to možnost.
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>Ne<br>
        <MM-Hide-Subscription-Button>Da
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Kateri jezik želite uporabiti za seznam?</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Na katere kategorije tem se želite naročiti?</strong><p>
                Če izberete eno ali več tem, lahko filtrirate promet
                na po&scaron;tnem seznamu, tako da prejemate samo sporočila
                z izbranimi temami.  Če sporočilo ustreza eni od teh
                izbranih tem, boste to sporočilo prejeli, drugače pa
                ne.

                <p>Če sporočilo ne ustreza nobeni temi, potem bo
                prejem tega sporočila odvisen od naslednjega izbora.
                Če ne izberete nobene teme, boste prejemali vsa
                sporočila, poslana na po&scaron;tni seznam.
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Ali želite prejemati sporočila, ki ne ustrezajo nobenemu
                tematskemu filtru?</strong><p>

                Ta možnost bo veljala le, če ste naročeni na vsaj eno
                od zgornjih tem.  Možnost predstavlja privzeto pravilo
                za dostavo sporočil, ki ne ustrezajo nobenemu tematskemu
                filtru.  Če izberete <em>Ne</em>, ne boste dobili sporočil,
                ki ne ustrezajo nobeni temi, če pa izberete <em>Da</em>,
                boste prejeli tudi tak&scaron;na neopredeljiva sporočila.

                <p>Če zgoraj niste izbrali nobene želene teme, boste
                prejeli vsako sporočilo, ki bo poslano na po&scaron;tni seznam.
        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>Ne<br>
        <mm-receive-nonmatching-topics>Da
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Izogni se dvojnim kopijam sporočil?</strong><p>

                Kadar ste neposredno navedeni v polju <tt>Za:</tt> ali
                <tt>Kp:</tt> sporočila, lahko izberete, da ne dobite
                kopije tega sporočila &scaron;e s po&scaron;tnega seznama.
                Izberite <em>Da</em>, da se izognete prejemanju kopij
                s seznama; izberite <em>Ne</em>, da prejmete kopije.

                <p>Če ima seznam omogočena zasebna sporočila med člani
                in izberete prejemanje kopij, bo vsaki kopiji dodana
                glava <tt>X-Mailman-Copy: yes</tt>.

        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>Ne<br>
        <mm-dont-receive-duplicates-button>Da<p>
        <mm-global-nodupes-button><i>Nastavi globalno</i>
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
