Administrativn&iacute; po¾adavky mohou b&yacute;t zobrazeny dvìma zpùsoby. Buï
<a href="%(summaryurl)s">hromadnì</a> a nebo <em>detailnì</em>.
Pøi hromadn&eacute;m zobrazen&iacute; jsou v&scaron;echny po¾adavky poch&aacute;zej&iacute;c&iacute; od
stejn&eacute;ho u¾ivatele zobrazeny dohromady a mù¾e o nich b&yacute;t rozhodnuto
najednou. Pøi detailn&iacute;m zobrazen&iacute; je ka¾d&yacute; pø&iacute;spìvek zobrazen
samostatnì a administr&aacute;tor rozhoduje o ka¾d&eacute;m pø&iacute;spìvku zvl&aacute;&scaron;».
Detailn&iacute; zobrazen&iacute; obsahuje nav&iacute;c v&scaron;echny hlavièky a è&aacute;st z tìla
zpr&aacute;vy.

<p>Pro pozastaven&eacute; pø&iacute;spìvky vyberte jednu z tìchto akc&iacute;:
<ul>
<li><b>Ponechat</b> - Nech zpr&aacute;vu èekat ve frontì, nem&aacute; to vliv na
nastaven&iacute; forwardov&aacute;n&iacute;, to znamen&aacute;, ¾e zpr&aacute;vu mù¾ete forwardovat
a pøitom ponechat ve frontì

<li><b>Akceptovat</b> - Roze&scaron;li zpr&aacute;vu do konference. Pokud se
nejedn&aacute; o zpr&aacute;vu, ale o po¾adavek na pøihl&aacute;&scaron;en&iacute; &uacute;èastn&iacute;ka, pøihlas
ho.

<li><b>Zam&iacute;tnout</b> - Vra» zpr&aacute;vu odes&iacute;lateli. Mù¾ete uv&eacute;st i dùvod,
kter&yacute; bude uveden v zam&iacute;tav&eacute; odpovìdi. Zpr&aacute;va bude z fronty
vymaz&aacute;na. Pokud se jedn&aacute; o po¾adavek na pøihl&aacute;&scaron;en&iacute;, bude zam&iacute;tnut.

<li><b>Zahodit</b> - vhodn&eacute; pro SPAM. Zpr&aacute;va potichu zmiz&iacute;, nikomu se
nic nepos&iacute;l&aacute;. I kdy¾ se jedn&aacute; o po¾adavek na pøihl&aacute;&scaron;en&iacute;, nebude se
pos&iacute;lat ¾&aacute;dn&eacute; ozn&aacute;men&iacute;.
</ul>

<p>Vybr&aacute;n&iacute;m volby <b>Ponechat</b> mù¾ete napø. ponechat zpr&aacute;vu ve
frontì pro spr&aacute;vce serveru. To vyu¾ijete asi pøedev&scaron;&iacute;m u zpr&aacute;v, kter&eacute;
nejsou obyèejn&yacute;m spamem, ale vy¾aduj&iacute; dal&scaron;&iacute; odvetn&eacute; akce.

S pomoc&iacute; volby<b>Pøeposlat</b> mù¾ete kopii zpr&aacute;vy odeslat na adresu,
kterou vypln&iacute;te do vstupn&iacute;ho pole vedle t&eacute;to volby. Pokud potøebujete
nìjak&yacute; pø&iacute;spìvek modifikovat, pøed rozesl&aacute;n&iacute;m u¾ivatelùm, mus&iacute;te si
jej pøeposlat na svou adresu a pùvodn&iacute; zpr&aacute;vu zahodit. Pot&eacute; co zpr&aacute;vu
uprav&iacute;te, mus&iacute;te ji poslat zpìt do konference, pø&iacute;padnì s hlavièkou 
<tt>Approved:</tt> do kter&eacute; dopln&iacute;te heslo pro danou
konferenci. Netiquetta vy¾aduje, abyste v takov&eacute;m pø&iacute;padì do textu
uvedli upozornìn&iacute;, ¾e jste zpr&aacute;vu pozmìnili a vysvìtlili, proè jste
to udìlali.

<p>Pokud m&aacute; pøispìvatel nastaven pø&iacute;znak moderovat, co¾ se typicky
pou¾&iacute;v&aacute; u nov&yacute;ch &uacute;èastn&iacute;kù, kdy se nejdø&iacute;ve èek&aacute;, jakou &uacute;roveò budou
m&iacute;t jejich pø&iacute;spìvky, mù¾ete souèasnì s propu&scaron;tìn&iacute;m pø&iacute;spìvku do
distribuce tento pø&iacute;znak zru&scaron;it, tak¾e u¾ivatel bude moci nad&aacute;le
pøisp&iacute;vat s&aacute;m.

<p>Pokud odes&iacute;latel nen&iacute; &uacute;èastn&iacute;kem konference, mù¾ete jeho emailovou
adresu vlo¾it do <em>filtru odes&iacute;latelù</em>. Jak tyto filtry funguj&iacute;
je pops&aacute;no na <a href="%(filterurl)s">str&aacute;nce s konfigurac&iacute; filtrov&aacute;n&iacute;
</a>. Pø&iacute;spìvky mohou b&yacute;t na z&aacute;kladì filtrù buï automaticky
akceptov&aacute;ny, automaticky pozdr¾eny do rozhodnut&iacute; moder&aacute;tora,
automaticky vr&aacute;ceny a nebo automaticky zahozeny (SPAM). Pokud
odes&iacute;latel je &uacute;èastn&iacute;kem a nebo u¾ je zaveden ve filtrech, tato volba
nebude k dispozici.

<p>Pokud jste ji¾ pro&scaron;li celou str&aacute;nkou kliknìte na jej&iacute;m horn&iacute;m nebo
spodn&iacute;m okraji na tlaè&iacute;tko <em>Potvrdit v&scaron;echny zmìny</em>. T&iacute;m se 
pøenesou proveden&eacute; zmìny do datab&aacute;ze a server podle dan&yacute;ch pokynù provede
potøebn&eacute; operace. Pokud u nìkter&eacute; polo¾ky nevyberete ani jednu volbu,
polo¾ka nebude nijak ovlivnìna a zùstane ulo¾ena v datab&aacute;zi. Budete o ni
moci rozhodnout kdykoliv pø&iacute;&scaron;tì.


<p><a href="%(summaryurl)s">Zpìt na pøehled èekaj&iacute;c&iacute;ch po¾adavkù</a>.
