Přehled požadavků pro konferenci <a href="%(adminurl)s"><em>%(listname)s</em></a>.

Tato str&aacute;nka obsahuje přehled v&scaron;ech požadavků pro administr&aacute;tora
setř&iacute;děn&yacute; tak, že požadavky od jednoho uživatele jsou sloučeny
dohromady a může o nich b&yacute;t rozhodnuto najednou.

Nejdř&iacute;ve jsou zařazeny požadavky na přihl&aacute;&scaron;en&iacute; a odhl&aacute;&scaron;en&iacute; a za nimi
př&iacute;padně př&iacute;spěvky, kter&eacute; čekaj&iacute; na schv&aacute;len&iacute; distribuce moder&aacute;torem.

<p>U každ&eacute;ho administrativn&iacute;ho požadavku mus&iacute;te vybrat akci, kter&aacute; se
s n&iacute;m m&aacute; prov&eacute;st a nakonec vybran&eacute; akce provedete kliknut&iacute;m na 
<b>Potvrdit v&scaron;echny změny</b>. Podrobněj&scaron;&iacute; informace o tom, jak
zach&aacute;zet s administrativn&iacute;m rozhran&iacute;m naleznete 
<a href="%(detailsurl)s">zde</a>.

<p>Takt&eacute;ž si můžete prohl&eacute;dnout detailn&iacute; přehled v&scaron;ech
<a href="%(viewallurl)s">čekaj&iacute;c&iacute;ch požadavků</a> kde je každ&yacute;
př&iacute;spěvek zobrazen samostatně.
