Administrativn&iacute; požadavky mohou b&yacute;t zobrazeny dvěma způsoby. Buď
<a href="%(summaryurl)s">hromadně</a> a nebo <em>detailně</em>.
Při hromadn&eacute;m zobrazen&iacute; jsou v&scaron;echny požadavky poch&aacute;zej&iacute;c&iacute; od
stejn&eacute;ho uživatele zobrazeny dohromady a může o nich b&yacute;t rozhodnuto
najednou. Při detailn&iacute;m zobrazen&iacute; je každ&yacute; př&iacute;spěvek zobrazen
samostatně a administr&aacute;tor rozhoduje o každ&eacute;m př&iacute;spěvku zvl&aacute;&scaron;ť.
Detailn&iacute; zobrazen&iacute; obsahuje nav&iacute;c v&scaron;echny hlavičky a č&aacute;st z těla
zpr&aacute;vy.

<p>Pro pozastaven&eacute; př&iacute;spěvky vyberte jednu z těchto akc&iacute;:
<ul>
<li><b>Ponechat</b> - Nech zpr&aacute;vu čekat ve frontě, nem&aacute; to vliv na
nastaven&iacute; forwardov&aacute;n&iacute;, to znamen&aacute;, že zpr&aacute;vu můžete forwardovat
a přitom ponechat ve frontě

<li><b>Akceptovat</b> - Roze&scaron;li zpr&aacute;vu do konference. Pokud se
nejedn&aacute; o zpr&aacute;vu, ale o požadavek na přihl&aacute;&scaron;en&iacute; &uacute;častn&iacute;ka, přihlas
ho.

<li><b>Zam&iacute;tnout</b> - Vrať zpr&aacute;vu odes&iacute;lateli. Můžete uv&eacute;st i důvod,
kter&yacute; bude uveden v zam&iacute;tav&eacute; odpovědi. Zpr&aacute;va bude z fronty
vymaz&aacute;na. Pokud se jedn&aacute; o požadavek na přihl&aacute;&scaron;en&iacute;, bude zam&iacute;tnut.

<li><b>Zahodit</b> - vhodn&eacute; pro SPAM. Zpr&aacute;va potichu zmiz&iacute;, nikomu se
nic nepos&iacute;l&aacute;. I když se jedn&aacute; o požadavek na přihl&aacute;&scaron;en&iacute;, nebude se
pos&iacute;lat ž&aacute;dn&eacute; ozn&aacute;men&iacute;.
</ul>

<p>Vybr&aacute;n&iacute;m volby <b>Ponechat</b> můžete např. ponechat zpr&aacute;vu ve
frontě pro spr&aacute;vce serveru. To využijete asi předev&scaron;&iacute;m u zpr&aacute;v, kter&eacute;
nejsou obyčejn&yacute;m spamem, ale vyžaduj&iacute; dal&scaron;&iacute; odvetn&eacute; akce.

S pomoc&iacute; volby<b>Přeposlat</b> můžete kopii zpr&aacute;vy odeslat na adresu,
kterou vypln&iacute;te do vstupn&iacute;ho pole vedle t&eacute;to volby. Pokud potřebujete
nějak&yacute; př&iacute;spěvek modifikovat, před rozesl&aacute;n&iacute;m uživatelům, mus&iacute;te si
jej přeposlat na svou adresu a původn&iacute; zpr&aacute;vu zahodit. Pot&eacute; co zpr&aacute;vu
uprav&iacute;te, mus&iacute;te ji poslat zpět do konference, př&iacute;padně s hlavičkou 
<tt>Approved:</tt> do kter&eacute; dopln&iacute;te heslo pro danou
konferenci. Netiquetta vyžaduje, abyste v takov&eacute;m př&iacute;padě do textu
uvedli upozorněn&iacute;, že jste zpr&aacute;vu pozměnili a vysvětlili, proč jste
to udělali.

<p>Pokud m&aacute; přispěvatel nastaven př&iacute;znak moderovat, což se typicky
použ&iacute;v&aacute; u nov&yacute;ch &uacute;častn&iacute;ků, kdy se nejdř&iacute;ve ček&aacute;, jakou &uacute;roveň budou
m&iacute;t jejich př&iacute;spěvky, můžete současně s propu&scaron;těn&iacute;m př&iacute;spěvku do
distribuce tento př&iacute;znak zru&scaron;it, takže uživatel bude moci nad&aacute;le
přisp&iacute;vat s&aacute;m.

<p>Pokud odes&iacute;latel nen&iacute; &uacute;častn&iacute;kem konference, můžete jeho emailovou
adresu vložit do <em>filtru odes&iacute;latelů</em>. Jak tyto filtry funguj&iacute;
je pops&aacute;no na <a href="%(filterurl)s">str&aacute;nce s konfigurac&iacute; filtrov&aacute;n&iacute;
</a>. Př&iacute;spěvky mohou b&yacute;t na z&aacute;kladě filtrů buď automaticky
akceptov&aacute;ny, automaticky pozdrženy do rozhodnut&iacute; moder&aacute;tora,
automaticky vr&aacute;ceny a nebo automaticky zahozeny (SPAM). Pokud
odes&iacute;latel je &uacute;častn&iacute;kem a nebo už je zaveden ve filtrech, tato volba
nebude k dispozici.

<p>Pokud jste již pro&scaron;li celou str&aacute;nkou klikněte na jej&iacute;m horn&iacute;m nebo
spodn&iacute;m okraji na tlač&iacute;tko <em>Potvrdit v&scaron;echny změny</em>. T&iacute;m se 
přenesou proveden&eacute; změny do datab&aacute;ze a server podle dan&yacute;ch pokynů provede
potřebn&eacute; operace. Pokud u někter&eacute; položky nevyberete ani jednu volbu,
položka nebude nijak ovlivněna a zůstane uložena v datab&aacute;zi. Budete o ni
moci rozhodnout kdykoliv př&iacute;&scaron;tě.


<p><a href="%(summaryurl)s">Zpět na přehled čekaj&iacute;c&iacute;ch požadavků</a>.
