Pøehled po¾adavkù pro konferenci <a href="%(adminurl)s"><em>%(listname)s</em></a>.

Tato str&aacute;nka obsahuje pøehled v&scaron;ech po¾adavkù pro administr&aacute;tora
setø&iacute;dìn&yacute; tak, ¾e po¾adavky od jednoho u¾ivatele jsou slouèeny
dohromady a mù¾e o nich b&yacute;t rozhodnuto najednou.

Nejdø&iacute;ve jsou zaøazeny po¾adavky na pøihl&aacute;&scaron;en&iacute; a odhl&aacute;&scaron;en&iacute; a za nimi
pø&iacute;padnì pø&iacute;spìvky, kter&eacute; èekaj&iacute; na schv&aacute;len&iacute; distribuce moder&aacute;torem.

<p>U ka¾d&eacute;ho administrativn&iacute;ho po¾adavku mus&iacute;te vybrat akci, kter&aacute; se
s n&iacute;m m&aacute; prov&eacute;st a nakonec vybran&eacute; akce provedete kliknut&iacute;m na 
<b>Potvrdit v&scaron;echny zmìny</b>. Podrobnìj&scaron;&iacute; informace o tom, jak
zach&aacute;zet s administrativn&iacute;m rozhran&iacute;m naleznete 
<a href="%(detailsurl)s">zde</a>.

<p>Takt&eacute;¾ si mù¾ete prohl&eacute;dnout detailn&iacute; pøehled v&scaron;ech
<a href="%(viewallurl)s">èekaj&iacute;c&iacute;ch po¾adavkù</a> kde je ka¾d&yacute;
pø&iacute;spìvek zobrazen samostatnì.
