Na t&eacute;to str&aacute;nce naleznete v&scaron;echny pø&iacute;spìvky do konference <em>%(listname)s</em>,
kter&eacute; nebyly z nìjak&eacute;ho dùvodu rozesl&aacute;ny a èekaj&iacute; na Va&scaron;e rozhodnut&iacute;.
Moment&aacute;lnì jsou zobrazeny %(description)s

<p>U ka¾d&eacute;ho administrativn&iacute;ho po¾adavku mus&iacute;te vybrat akci, kter&aacute; se
s n&iacute;m m&aacute; prov&eacute;st a nakonec vybran&eacute; akce provedete kliknut&iacute;m na 
<b>Potvrdit v&scaron;echny zmìny</b>. Podrobnìj&scaron;&iacute; informace o tom, jak
zach&aacute;zet s administrativn&iacute;m rozhran&iacute;m naleznete 
<a href="%(detailsurl)s">zde</a>.

<p>Takt&eacute;¾ si mù¾ete prohl&eacute;dnout pøehled v&scaron;ech
<a href="%(summaryurl)s">èekaj&iacute;c&iacute;ch po¾adavkù</a> zobrazen&yacute; tak, ¾e
pø&iacute;spìvky od jednoho pøispìvatele jsou slouèeny dohromady a mù¾ete
o nich rozhodnout souèasnì.
