Tento text mù¾e obsahovat <a
href="https://docs.python.org/2/library/stdtypes.html#string-formatting-operations">form&aacute;tovac&iacute;
pø&iacute;kazy Pythonu</a> kter&eacute; se nahrazuj&iacute; odpov&iacute;daj&iacute;c&iacute;mi hodnotami, pøi
generov&aacute;n&iacute; str&aacute;nky.  Nejdùle¾itìj&scaron;&iacute; promìnn&eacute; jsou:

<ul>
    <li><b>real_name</b> - `Hezk&eacute;' jm&eacute;no konference, 
    obvykle n&aacute;zev, kter&yacute; m&aacute; zachov&aacute;nu velikost p&iacute;smen tak jak je 
    zad&aacute;n v konfiguraci.

    <li><b>list_name</b> - Jm&eacute;no konference, tak jak
    se pou¾&iacute;v&aacute; v URL, tedy tam kde z&aacute;le¾&iacute; na velikosti p&iacute;smen (v&scaron;echna
    jsou pøevedena na mal&aacute;).

    <li><b>host_name</b> - Cel&eacute; DNS jm&eacute;no serveru na
    kter&eacute;m konference bì¾&iacute;.
    
    <li><b>web_page_url</b> - Z&aacute;kladn&iacute; URL pro Mailman.
    Pokud je n&aacute;sledov&aacute;no napø. t&iacute;mto pø&iacute;kazem:
    <em>listinfo/%(list_name)s</em>
    vede na str&aacute;nku s informacemi o konferenci.

    <li><b>description</b> - Kr&aacute;tk&yacute;, charakteristick&yacute;
    popis konference, tak jak byl zad&aacute;n pøi konfiguraci.

    <li><b>info</b> - Kompletn&iacute;, dlouh&yacute;, popis konference.

    <li><b>cgiext</b> - pø&iacute;pona pøid&aacute;van&aacute; k cgi scriptùm.

</ul>
