<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
 <head>
  <title>Lista %(listname)s %(archive)s sortowane wed&#322;ug %(archtype)s</title>
  <meta name="robots" content="noindex,follow">
  %(encoding)s
 </head>
 <body bgcolor="#ffffff">
  <a name="start"></a>
  <h1>Archiwum za %(archive)s posortowane wed&#322;ug %(archtype)s</h1>
  <ul>
   <li><b>Wiadomo&#347;ci posortowane wed&#322;ug:</b>
    %(thread_ref)s
    %(subject_ref)s
    %(author_ref)s
    %(date_ref)s
   <li><b><a href="%(listinfo)s">Wi&#281;cej informacji o li&#347;cie...</a></b></li>
  </ul>
  <p><b>Pocz&#261;tek:</b> <i>%(firstdate)s</i><br>
     <b>Koniec:</b> <i>%(lastdate)s</i><br>
     <b>Liczba wiadomo&#347;ci:</b> %(size)s<p>
  <ul>
