See tekst v&otilde;ib sisaldada
<a href="https://docs.python.org/2/library/stdtypes.html#string-formatting-operations">Pythoni
vormingustringe</a>, mis asendatakse selle listi atribuutidega.  Lubatud
asendused on j&auml;rgmised:
<ul>
    <li><b>real_name</b> - Listi vormindatud nimi, &uuml;ldjuhul
    on see listi nimi suure esit&auml;hega.

    <li><b>list_name</b> - Listi t&otilde;stutundetu nimi. M&otilde;eldud
    ennek&otilde;ike URLides kasutamiseks.

    <li><b>host_name</b> - Listserveri poolt kasutatava domeeni
    nimi.

    <li><b>web_page_url</b> - Mailmani veebiliidese URL. URLi
    l&otilde;ppu v&otilde;ib lisada n&auml;iteks <em><code>listinfo/%(list_name)s</em>
    linkimaks otse listi &uuml;ldinfo veebilehele.

    <li><b>description</b> - L&uuml;hike listi kirjeldus.

    <li><b>info</b> - Pikem listi tutvustav tekst.

    <li><b>cgiext</b> - CGI skriptidele lisatav laiend.
</ul>
