Yll&auml;pit&auml;j&auml;n pyynn&ouml;t kootaan yhdeksi kahdesta eri kohteesta,  <a
href="%(summaryurl)s">yhteenvetosivulta</a>,ja <em>details</em>
yksityiskohtasivulta.  Yhteenvetosivu sis&auml;lt&auml;&auml; vahvistusta odottamassa
olevat listalle liittymis- ja irtisanoutumispyynn&ouml;t, sek&auml; hyv&auml;ksymist&auml; 
odottavat postit, jotka on ryhmitelty l&auml;hett&auml;j&auml;n osoitteen mukaan.  
Yksityiskohtasivu sis&auml;lt&auml;&auml; tarkemmat tiedot kaikista hyv&auml;ksymist&auml; 
odottavista viesteist&auml;, sis&auml;lt&auml;en viestien otsikot ja osan viestin teksti&auml;.

<p>Seuraavat toimenpiteet ovat mahdollisia kaikilla sivuilla:

<ul>
<li><b>Siirr&auml;</b> -- Siirt&auml;&auml; p&auml;&auml;t&ouml;ksesi my&ouml;hemm&auml;ksi. T&auml;lle odottavalle
    yll&auml;pit&auml;j&auml;n vahvistuspyynn&ouml;lle ei tehd&auml; nyt mit&auml;&auml;n, paitsi j&auml;tet&auml;&auml;n
    odottavaksi postiksi, voit silti ohjata viestin eteenp&auml;in 
    tai s&auml;ilytt&auml;&auml; sen (katso allaolevaa).

<li><b>Hyv&auml;ksy</b> -- Hyv&auml;ksy viesti l&auml;hett&auml;m&auml;ll&auml; se listalle.
    J&auml;senyyspyynn&ouml;iss&auml;, hyv&auml;ksyy muutoksen j&auml;senyystietoihin.

<li><b>Hylk&auml;&auml;</b> -- Hylk&auml;&auml; viestin, l&auml;hett&auml;&auml; hylk&auml;ysilmoituksen
    l&auml;hett&auml;j&auml;lle ja poistaa alkuper&auml;isen viestin. J&auml;senyyspyynn&ouml;iss&auml;
    hylk&auml;&auml; muutoksen j&auml;senyystietoihin.  Kummassakin tapauksessa,
    pit&auml;&auml; liitt&auml;&auml; mukaan teksti hylk&auml;yksen syyst&auml;.

<li><b>Poista</b> -- Poista alkuper&auml;inen viesti, ilman ett&auml; l&auml;hetet&auml;&auml;n
    hylk&auml;ysilmoitusta.  J&auml;senyyspyynn&ouml;iss&auml; pelk&auml;st&auml;&auml;n h&auml;vitet&auml;&auml;n pyynt&ouml;
    eik&auml; ilmoiteta siit&auml; pyynn&ouml;n esitt&auml;j&auml;lle.  Toimintoa 
    k&auml;ytet&auml;&auml;n yleens&auml; tunnetulle roska(mainos)postille.
</ul>

<p>Odottavissa viesteiss&auml; aseta p&auml;&auml;lle <b>S&auml;ilyt&auml;</b> valinta jos haluat
s&auml;ilytt&auml;&auml; kopion viestist&auml; yll&auml;pit&auml;j&auml;n sivulla.  Toiminto on hy&ouml;dyllinen
loukkaavien postien kohdalla, jotka haluat tuhota, mutta joista sinun
tarvitsee s&auml;ilytt&auml;&auml; tallennettua tietoa my&ouml;hemp&auml;&auml; tarkastelua varten.

<p>Laita p&auml;&auml;lle <b>L&auml;het&auml; eteenp&auml;in</b> valinta, ja t&auml;yt&auml; vastaanottajan
osoitekentt&auml;, jos haluat l&auml;hett&auml;&auml; viestin jolle kulle, joka ei kuulu
listalle. Muuttaaksesi odottavaa viesti&auml; ennen kuin se l&auml;hetet&auml;&auml;n listalle,
sinun pit&auml;&auml; l&auml;hett&auml;&auml; sen ensin itsellesi (tai listan omistajille) ja
h&auml;vitt&auml;&auml; alkuper&auml;inen viesti.  Sitten kun viesti n&auml;kyy viestilaatikossasi,
tee muutoksesi ja l&auml;het&auml; viesti uudelleen listalle, siten ett&auml; se sis&auml;lt&auml;&auml; 
<tt>Hyv&auml;ksytty:</tt> otsikon sek&auml; listan salasanan sen arvona.  Se
on kunnon netiketti t&auml;ss&auml; tapauksessa sis&auml;llytt&auml;&auml; huomautus viestiin siit&auml;
n&auml;rk&auml;styksest&auml;, ett&auml; olet joutunut muuttamaan teksti&auml;.

<p>Yhteenvetosivulla voit my&ouml;s lis&auml;t&auml; s&auml;hk&ouml;postin osoitteen
<em>l&auml;hett&auml;j&auml; filterointiin</em>.  L&auml;hett&auml;j&auml; filtereit&auml; on selitetty <a
href="%(filterurl)s">l&auml;hett&auml;j&auml;n filterointi yksil&ouml;intisivulla</a>, ja arvo
voi olla yksi seuraavista:
<b>Hyv&auml;ksy
automaatisesti</b> (Hyv&auml;ksytyt), <b> Odottaa automaattisesti</b> 
(Odottavat),
<b>Hyl&auml;t&auml;&auml;n automaattisesti</b> (Hyl&auml;tyt), tai <b>Tuhotaan automaattisesti
</b> (Tuhotut). T&auml;m&auml; arvo ei ole mahdollinen, jos osoite on jo
yksi l&auml;hett&auml;j&auml;n filtterointi -osoite.

<p>Kun olet saanut kaiken valmiiksi, klikkaa sivun
yl&auml;- tai alalaidassa sijaitsevaa <em>Hyv&auml;ksy
muutokset</em> n&auml;pp&auml;int&auml;.  T&auml;m&auml; n&auml;pp&auml;in suorittaa kaikki valitut
toimenpiteet kaikille yll&auml;pit&auml;j&auml;n pyynn&ouml;ille, joista olet p&auml;&auml;t&ouml;ksen tehnyt.

<p><a href="%(summaryurl)s">Paluu yhteenvetosivulle</a>.
