T&auml;m&auml; sivu sis&auml;lt&auml;&auml; osan postituslistan <em>%(listname)s</em> 
viesteist&auml; jotka ovat pidossa odottamassa hyv&auml;ksynt&auml;&auml;si. T&auml;ll&auml; hetkell&auml;
n&auml;ytet&auml;&auml;n %(description)s.

<p>Valitse jokaiselle yll&auml;pitopyyn&ouml;lle toiminto ja napsauta <b>L&auml;het&auml;
kaikki data</b> kun olet valmis. Lis&auml;tietoja <a href="%(detailsurl)s">here</a>.

<p>Voit my&ouml;s <a href="%(summaryurl)s">Katsella yhteenvetoa</a> 
kaikista odottavista pyynn&ouml;ist&auml;.
