Os pedidos administrativos s&atilde;o mostrados usando uma de duas formas,
numa <a href="%(summaryurl)s">p&aacute;gina de sum&aacute;rio</a> ou numa p&aacute;gina
<em>detalhadas</em>.  A p&aacute;gina de sum&aacute;rio cont&eacute;m as inscri&ccedil;&otilde;es
pendentes e pedidos de anula&ccedil;&atilde;o de inscri&ccedil;&atilde;o, bem como mensagens que
requerem a sua aprova&ccedil;&atilde;o, agrupada por endere&ccedil;o de email do
remetente. A p&aacute;gina detalhada cont&eacute;m uma visualiza&ccedil;&atilde;o mais detalhada
de cada mensagem em espera, incluindo todos os cabe&ccedil;alhos da mensagem
com excep&ccedil;&atilde;o do corpo da mensagem.

<p>Em todas as p&aacute;ginas, as seguintes ac&ccedil;&otilde;es est&atilde;o dispon&iacute;veis:

<ul>
<li><b>Adiar</b> -- Adia sua decis&atilde;o at&eacute; mais tarde. Nenhuma ac&ccedil;&atilde;o &eacute;
    tomada agora para este pedido administrativo, mas para mensagens
    aguardando aprova&ccedil;&atilde;o, pode ainda encaminhar ou preservar a 
    mensagem (ver abaixo).

<li><b>Aprovar</b> -- Aprova a mensagem, enviando-a para a lista.
    Para pedidos de membros, aprova a mudan&ccedil;a no estatuto  do 
    membro.

<li><b>Rejeitar</b> -- Rejeita a mensagem, enviando um aviso de 
    rejei&ccedil;&atilde;o ao remetente e ignorando a mensagem original. 
    Para pedidos de membros, rejeita a modifica&ccedil;&atilde;o no seu estatuto.
    Em ambos os casos, deve incluir uma raz&atilde;o para esta recusa na 
    caixa de texto.

<li><b>Ignorar</b> -- Ignora a mensagem original, sem enviar uma 
    notifica&ccedil;&atilde;o de rejei&ccedil;&atilde;o. Para pedidos de membros, isto 
    simplesmente ignora o pedido sem avisar a pessoa que 
    enviou a mensagem. Esta &eacute;, normalemnte, a ac&ccedil;&atilde;o que deseja tomar
    para trabalhar com spamerss conhecidos.
</ul>

<p>Para mensagens aguardando aprova&ccedil;&atilde;o, ligue a op&ccedil;&atilde;o <b>Preserve</b> 
se deseja guardar uma c&oacute;pia da mensagem para o administrador do site. 
Isto &eacute; &uacute;til para mensagens abusivas que deseja que sejam ignoradas, 
mas das quais deseja manter um registo para inspec&ccedil;&atilde;o posterior. 
<p>Ligue a op&ccedil;&atilde;o <b>Forward to</b> e preencha o endere&ccedil;o de 
redirecionamento se desejar encaminhar a mensagem para algu&eacute;m 
que n&atilde;o esteja na lista. Para editar uma mensagem em espera antes 
de ser enviada para a lista, deve redirecionar a mensagem 
para voc&ecirc; mesmo (ou para os donos da lista) e ignorar a mensagem
original. Quando ler a mensagem na sua caixa 
de correio, fa&ccedil;a suas modifica&ccedil;&otilde;es e reenvie a mensagem para a 
lista, incluindo um cabe&ccedil;alho <tt>Approved:</tt> com a password
da lista como seu valor. Uma netiqueta apropriada para este caso &eacute; 
incluir uma nota na mensagem reenviada, explicando que 
modificou o texto. 

<p>Caso o remetente seja membro da lista que est&aacute; sendo moderado, 
pode, opcionalmente, desactivar a sua op&ccedil;&atilde;o de modera&ccedil;&atilde;o. Isto &eacute; 
&uacute;til quando sua lista estiver configurada para colocar novos 
membros em proibi&ccedil;&atilde;o, e decidiu que pode confiar neste membro 
para ele enviar mensagens sem aprova&ccedil;&atilde;o.

<p>Caso o remetente n&atilde;o seja o membro da lista, pode
adicionar o endere&ccedil;o de email ao <em>sender filter</em>. Os 
 Sender filters s&atilde;o descritos na <a
href="%(filterurl)s">p&aacute;gina de privacidade de filtragem de remetentes</a>, 
e pode corresponder a uma das seguintes op&ccedil;&otilde;es <b>auto-aceitar</b> (Aceita), 
<b>auto-bloqueia</b> (Bloqueia), <b>auto-rejeita</b> (Rejeita), ou 
<b>auto-descarta</b> (Descarta).  Esta op&ccedil;&atilde;o n&atilde;o estar&aacute; dispon&iacute;vel 
se o endere&ccedil;o j&aacute; &eacute; um dos filtros do remetente.

<p>Quando terminar, clique no bot&atilde;o <em>Enviar Todos os Dados</em> 
no topo ou rodap&eacute; da p&aacute;gina. Este bot&atilde;o enviar&aacute; todas as ac&ccedil;&otilde;es 
selecionadas para todas os pedidos administrativos que 
tratou. 

<p><a href="%(summaryurl)s">Voltar &agrave; p&aacute;gina de sum&aacute;rio</a>.

