Esta p&aacute;gina cont&eacute;m uma parte das mensagens enviadas para <em>
%(listname)s</em> que est&atilde;o pendentes da sua aprova&ccedil;&atilde;o. De momento 
mostra %(description)s

<p>Seleccione a ac&ccedil;&atilde;o a tomar em rela&ccedil;&atilde;o a cada pedido administrativo
e carregue em <b>Submeter toda a informa&ccedil;&atilde;o</b> quando tiver terminado.
Instru&ccedil;&otilde;es mais detalhadas est&atilde;o dispon&iacute;veis <a href="%(detailsurl)s">aqui</a>.

<p>Tamb&eacute;m pode <a href="%(summaryurl)s">ver um sum&aacute;rio</a> de todos os
pedidos pendentes.

