Sprendimo laukianèiø lai&scaron;kø santrauka

<p>Èia santrauka lai&scaron;kø, laukianèiø jûsø sprendimo dël 
<a href="%(adminurl)s">forumo <em>%(listname)s</em></a>.

Pradþioje - prisijungimo ir atsijungimo pra&scaron;ymai,
toliau - lai&scaron;kai, dël kuriø turite apsispræsti.

<p>Kiekvienai administravimo uþklausai paþymëkite veiksmà
ir baigæ paspauskite <b>Siøsti Visus Duomenis</b>.

<p>Smulkesnë instrukcija <a href="%(detailsurl)s">èia</a>.

<p>Taip pat galite perþiûrëti <a href="%(viewallurl)s">pilnà sprendimo laukianèiø lai&scaron;kø sàra&scaron;à</a>.
