<!-- $Revision: 6065 $ -->
<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title><MM-Presentable-User> dalyvio nustatymai forumui <MM-List-Name>
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        <MM-List-Name> forumo nustatymai dalyviui
        <MM-Presentable-User>
        </FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        <b><MM-Presentable-User></b> būsena, slaptažodžiai ir nustatymai forumui <MM-List-Name>.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B>Forumo <MM-List-Name> narystės informacijos pakeitimai</B>
        </FONT></TD></TR>
    <tr><td colspan="2">
    	&Scaron;iame lauke galite pakeisti nurodytą dalyvio el. pa&scaron;to adresą.
	Tuo atveju jums bus i&scaron;siųstas lai&scaron;kas ir pakeitimai įsigalios tik po to,
	kai Jūs patvirtinsite juos.
	<p>Patvirtinimui skiriama dienų: <mm-pending-days>.
        <p>Taip pat galite pakeisti vardą, kuriuo pasira&scaron;ote
        (pvz. <em>Tomas Jonu&scaron;as</em>).
        <p>Jeigu norite, kad būtų pakeisti visų forumų <mm-host> nustatymai,
	pažytmėkite vėliavėlę <em>Bendri pakeitimai</em>.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Naujas adresas:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Patvirtinimas:</div></td>
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">Jūsų vardas (nebūtina):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>Bendri pakeitimai</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Atsisakyti <MM-List-Name></B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Kiti Jūsų prisijungimai <MM-Host></B>
        </FONT></TD></TR>

    <tr><td>
        I&scaron;junkite vėliavėlę ir paspauskite &scaron;į mygtuką,
	jeigu norite atsisakyti &scaron;io forumo.  <strong>Atsargiai:</strong>
        Tai įvyksta nedelsiant!
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
        Galiet peržiūrėti sąra&scaron;ą <mm-host> forumų, kuriuose Jūs dalyvaujate.
	Pasinaudokite tuo, jei norite pakeisti visų jų nustatymus.
        <p>
        <center><MM-Other-Subscriptions-Submit></center>
        </TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Jūsų <MM-List-Name> slaptažodis</B>
        </FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>Pamir&scaron;ote slaptažodį?</h3>
        </center>
        Paspauskite &scaron;į mygtuką, jeigu norite, kad slaptažodis būtų i&scaron;siųstas Jūsų adresu.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Pakeisti slaptažodį</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Naujas slaptažodis:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">Pakartokite slaptažodį:</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>Bendri pakeitimai.
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Jūsų nustatymai forumui <MM-List-Name></B>
        </FONT></TD></TR>
</table>

<p>
<i><strong>Pradžioje pažymėti dabartiniai nustatymai.</strong></i>

<p>Atkreipkite dėmesį, kad daliai nustatymų yra vėliavėlė <em>Bendri pakeitimai</em>.
Pažymėjus &scaron;ią vėliavėlę pakečiami Jūsų nustatymai visuose <mm-host> forumuose.
<p>Paspauskie <em>parodyti kitus mano forumus</em> jei norite pamatti kur dar Jūsų esate prisijungę.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable"><strong>Pa&scaron;to pristatymas</strong></a><p>
        Įjungę &scaron;į nustatymą gausite forumui skirtus lai&scaron;kus.
	I&scaron;jungę &scaron;į nustatymą lai&scaron;kų negausite, nors ir liksite prisijungę.
        Naudokite &scaron;į nustatymą pvz. i&scaron;vykdami atostogauti,
	tik nepamir&scaron;kite grįžę vėl įjungti pristatymą!
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>Įjungta<br>
        <mm-delivery-disable-button>I&scaron;jungta<p>
        <mm-global-deliver-button><i>Bendri pakeitimai</i>
        </td></tr>

<!--Start-Digests-Delete-->
    <tr><TD BGCOLOR="#cccccc">
        <strong>Rinkinių siuntimas</strong><p>
        Jeigu įjungsite rinkinių siuntimą, Jums bus siuntinėjami
	apjungti forumo lai&scaron;kai. Tai turėtų vykti kartą į dieną,
	tačiau ypač aktyviuose forumuose gali būti ir dažniau.
	Jei nepasirinksite rinkinių siuntimo, tada gausite kiekvieną lai&scaron;ką
	nedelsiant. Kai i&scaron;jungiate rinkinių siuntimą, turėtumėte gauti
	paskutinį Jums nei&scaron;siųstų lai&scaron;kų rinkinį, kitus lai&scaron;kus gausite po vieną.
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>I&scaron;jungta<br>
        <MM-Digest-Radio-Button>Įjungta
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>MIME ar vientiso teksto formato rinkiniai?</strong><p>
	Jūsų pa&scaron;to programa gali palaikyti MIME rinkinius arba ne.
	MIME rinkiniai daugumai vartotojų yra patogesni,
	tačiau pasirinkite vioentisą tekstą jei negalite normaliai
	perskaityti MIME rinkinių.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>Vientisas tekstas<p>
        <mm-global-mime-button><i>Bendri pakeitimai</i>
        </td></tr>
<!--End-Digests-Delete-->
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Ar norite gauti savo siųstus į forumą lai&scaron;kus??</strong>
	<p>Įprastu nustatymu gausite visus į forumą siųstus, tame tarpe 
	ir savo lai&scaron;kus. Jeigu nenorite gauti savo siųstų lai&scaron;kų kopijos
	čia nustatykite <em>Ne</em>.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>Ne<br>
        <mm-receive-own-mail-button>Taip
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Ar patvirtini kiekvieną į forumą nusiųstą lai&scaron;ką?</strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>Ne<br>
        <mm-ack-posts-button>Taip
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Ar siuntinėti &scaron;io formo slaptažodžio priminimus?</strong><p>
	Kartą į mėnesį gausite lai&scaron;ką su i&scaron;vardintais Jūsų užsisakytų
	pasirinktų forumų slaptažodžiais. Jeigu visiems užsisakytiems forumams
	i&scaron;jungsite &scaron;į parametrą, tada slaptažodžių priminimo lai&scaron;kas jums 
	nebus siuntinėjamas.
	</td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>I&scaron;jungta<br>
        <mm-get-password-reminder-button>Įjungta<p>
        <mm-global-remind-button><i>Bendri pakeitimai</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Ar paslėpti Jūsų adresą nuo forumo dalyvių?</strong><p>
	Kiekvienas peržiūrėdamas forumo narių sąra&scaron;ą mato ir Jūsų adresą.
	(Tuo kartais piktybi&scaron;kai pasinaudoja nepageidaujamos reklamos 
	SPAM siuntinėtojai.) Nurodykite <em>Paslėpti</em> jei nenorite
	rodyti Jūsų adreso.
	</td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>Rodyti<br>
        <MM-Hide-Subscription-Button>Paslėpti
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Jūsų pasirinkta kalba:</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Kokių temų lai&scaron;kus norite aužsisakyti??</strong><p>
	    Pasirinkdami vieną ar kitą temą galite sumažinti gaunamų lai&scaron;kų srautą.
	    Gausite tik tuos lai&scaron;kus, kurie atitinka Jūsų pasirinktas temas.
	    <p>Jei nenurodysite nė vienos temos, gausite visus forumo lai&scaron;kus.
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Ar norite gauti lai&scaron;kus, kurie neatitinka nė vienos Jūsų nurodytos temos?</strong><p>
		&Scaron;is nustatymas veikia tik tuo atveju, jei esate nurodę bent vieną temą.
		Jei pasirinksite <em>Ne</em>, tada gausite tik Jūsų pasirinktų temų lai&scaron;kus.
		Jei pasirinksite <em>Taip</em>, tada gausite visus lai&scaron;kus.
                <p>Jeigu nenurodėte nė vienos temos, tada gausite visus lai&scaron;kus
		nepriklausomai nuo &scaron;io nustatymo.
        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>Taip<br>
        <mm-receive-nonmatching-topics>Ne
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Apsaugoti nuo lai&scaron;kų dubliavimo?</strong><p>
                Jei Jūsų adresas nurodytas lauke <tt>To:</tt> arba
                <tt>Cc:</tt> galite pasirinti negauti antros lai&scaron;ko kopijos.
                Pasirinkite <em>Taip</em> jei nenorite gauti kopijų;
		pasirinkite <em>Ne</em> jei norite gauti visus lai&scaron;kus.
		<p>Jei forumas leidžia asmeninius lai&scaron;kus, tada kiekvienai
		lai&scaron;ko kopijai pridedama antra&scaron;tė <tt>X-Mailman-Copy: yes</tt>.
        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>Ne<br>
        <mm-dont-receive-duplicates-button>Taip<p>
        <mm-global-nodupes-button><i>Bendri pakeitimai</i>
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
