<!-- $Revision: 6065 $ -->
<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title><MM-Presentable-User> dalyvio nustatymai forumui <MM-List-Name>
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        <MM-List-Name> forumo nustatymai dalyviui
        <MM-Presentable-User>
        </FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        <b><MM-Presentable-User></b> bûsena, slaptaþodþiai ir nustatymai forumui <MM-List-Name>.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B>Forumo <MM-List-Name> narystës informacijos pakeitimai</B>
        </FONT></TD></TR>
    <tr><td colspan="2">
    	&Scaron;iame lauke galite pakeisti nurodytà dalyvio el. pa&scaron;to adresà.
	Tuo atveju jums bus i&scaron;siøstas lai&scaron;kas ir pakeitimai ásigalios tik po to,
	kai Jûs patvirtinsite juos.
	<p>Patvirtinimui skiriama dienø: <mm-pending-days>.
        <p>Taip pat galite pakeisti vardà, kuriuo pasira&scaron;ote
        (pvz. <em>Tomas Jonu&scaron;as</em>).
        <p>Jeigu norite, kad bûtø pakeisti visø forumø <mm-host> nustatymai,
	paþytmëkite vëliavëlæ <em>Bendri pakeitimai</em>.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Naujas adresas:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Patvirtinimas:</div></td>
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">Jûsø vardas (nebûtina):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>Bendri pakeitimai</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Atsisakyti <MM-List-Name></B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Kiti Jûsø prisijungimai <MM-Host></B>
        </FONT></TD></TR>

    <tr><td>
        I&scaron;junkite vëliavëlæ ir paspauskite &scaron;á mygtukà,
	jeigu norite atsisakyti &scaron;io forumo.  <strong>Atsargiai:</strong>
        Tai ávyksta nedelsiant!
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
        Galiet perþiûrëti sàra&scaron;à <mm-host> forumø, kuriuose Jûs dalyvaujate.
	Pasinaudokite tuo, jei norite pakeisti visø jø nustatymus.
        <p>
        <center><MM-Other-Subscriptions-Submit></center>
        </TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Jûsø <MM-List-Name> slaptaþodis</B>
        </FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>Pamir&scaron;ote slaptaþodá?</h3>
        </center>
        Paspauskite &scaron;á mygtukà, jeigu norite, kad slaptaþodis bûtø i&scaron;siøstas Jûsø adresu.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Pakeisti slaptaþodá</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Naujas slaptaþodis:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">Pakartokite slaptaþodá:</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>Bendri pakeitimai.
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Jûsø nustatymai forumui <MM-List-Name></B>
        </FONT></TD></TR>
</table>

<p>
<i><strong>Pradþioje paþymëti dabartiniai nustatymai.</strong></i>

<p>Atkreipkite dëmesá, kad daliai nustatymø yra vëliavëlë <em>Bendri pakeitimai</em>.
Paþymëjus &scaron;ià vëliavëlæ pakeèiami Jûsø nustatymai visuose <mm-host> forumuose.
<p>Paspauskie <em>parodyti kitus mano forumus</em> jei norite pamatti kur dar Jûsø esate prisijungæ.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable"><strong>Pa&scaron;to pristatymas</strong></a><p>
        Ájungæ &scaron;á nustatymà gausite forumui skirtus lai&scaron;kus.
	I&scaron;jungæ &scaron;á nustatymà lai&scaron;kø negausite, nors ir liksite prisijungæ.
        Naudokite &scaron;á nustatymà pvz. i&scaron;vykdami atostogauti,
	tik nepamir&scaron;kite gráþæ vël ájungti pristatymà!
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>Ájungta<br>
        <mm-delivery-disable-button>I&scaron;jungta<p>
        <mm-global-deliver-button><i>Bendri pakeitimai</i>
        </td></tr>

<!--Start-Digests-Delete-->
    <tr><TD BGCOLOR="#cccccc">
        <strong>Rinkiniø siuntimas</strong><p>
        Jeigu ájungsite rinkiniø siuntimà, Jums bus siuntinëjami
	apjungti forumo lai&scaron;kai. Tai turëtø vykti kartà á dienà,
	taèiau ypaè aktyviuose forumuose gali bûti ir daþniau.
	Jei nepasirinksite rinkiniø siuntimo, tada gausite kiekvienà lai&scaron;kà
	nedelsiant. Kai i&scaron;jungiate rinkiniø siuntimà, turëtumëte gauti
	paskutiná Jums nei&scaron;siøstø lai&scaron;kø rinkiná, kitus lai&scaron;kus gausite po vienà.
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>I&scaron;jungta<br>
        <MM-Digest-Radio-Button>Ájungta
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>MIME ar vientiso teksto formato rinkiniai?</strong><p>
	Jûsø pa&scaron;to programa gali palaikyti MIME rinkinius arba ne.
	MIME rinkiniai daugumai vartotojø yra patogesni,
	taèiau pasirinkite vioentisà tekstà jei negalite normaliai
	perskaityti MIME rinkiniø.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>Vientisas tekstas<p>
        <mm-global-mime-button><i>Bendri pakeitimai</i>
        </td></tr>
<!--End-Digests-Delete-->
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Ar norite gauti savo siøstus á forumà lai&scaron;kus??</strong>
	<p>Áprastu nustatymu gausite visus á forumà siøstus, tame tarpe 
	ir savo lai&scaron;kus. Jeigu nenorite gauti savo siøstø lai&scaron;kø kopijos
	èia nustatykite <em>Ne</em>.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>Ne<br>
        <mm-receive-own-mail-button>Taip
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Ar patvirtini kiekvienà á forumà nusiøstà lai&scaron;kà?</strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>Ne<br>
        <mm-ack-posts-button>Taip
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Ar siuntinëti &scaron;io formo slaptaþodþio priminimus?</strong><p>
	Kartà á mënesá gausite lai&scaron;kà su i&scaron;vardintais Jûsø uþsisakytø
	pasirinktø forumø slaptaþodþiais. Jeigu visiems uþsisakytiems forumams
	i&scaron;jungsite &scaron;á parametrà, tada slaptaþodþiø priminimo lai&scaron;kas jums 
	nebus siuntinëjamas.
	</td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>I&scaron;jungta<br>
        <mm-get-password-reminder-button>Ájungta<p>
        <mm-global-remind-button><i>Bendri pakeitimai</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Ar paslëpti Jûsø adresà nuo forumo dalyviø?</strong><p>
	Kiekvienas perþiûrëdamas forumo nariø sàra&scaron;à mato ir Jûsø adresà.
	(Tuo kartais piktybi&scaron;kai pasinaudoja nepageidaujamos reklamos 
	SPAM siuntinëtojai.) Nurodykite <em>Paslëpti</em> jei nenorite
	rodyti Jûsø adreso.
	</td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>Rodyti<br>
        <MM-Hide-Subscription-Button>Paslëpti
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Jûsø pasirinkta kalba:</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Kokiø temø lai&scaron;kus norite auþsisakyti??</strong><p>
	    Pasirinkdami vienà ar kità temà galite sumaþinti gaunamø lai&scaron;kø srautà.
	    Gausite tik tuos lai&scaron;kus, kurie atitinka Jûsø pasirinktas temas.
	    <p>Jei nenurodysite në vienos temos, gausite visus forumo lai&scaron;kus.
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Ar norite gauti lai&scaron;kus, kurie neatitinka në vienos Jûsø nurodytos temos?</strong><p>
		&Scaron;is nustatymas veikia tik tuo atveju, jei esate nurodæ bent vienà temà.
		Jei pasirinksite <em>Ne</em>, tada gausite tik Jûsø pasirinktø temø lai&scaron;kus.
		Jei pasirinksite <em>Taip</em>, tada gausite visus lai&scaron;kus.
                <p>Jeigu nenurodëte në vienos temos, tada gausite visus lai&scaron;kus
		nepriklausomai nuo &scaron;io nustatymo.
        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>Taip<br>
        <mm-receive-nonmatching-topics>Ne
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Apsaugoti nuo lai&scaron;kø dubliavimo?</strong><p>
                Jei Jûsø adresas nurodytas lauke <tt>To:</tt> arba
                <tt>Cc:</tt> galite pasirinti negauti antros lai&scaron;ko kopijos.
                Pasirinkite <em>Taip</em> jei nenorite gauti kopijø;
		pasirinkite <em>Ne</em> jei norite gauti visus lai&scaron;kus.
		<p>Jei forumas leidþia asmeninius lai&scaron;kus, tada kiekvienai
		lai&scaron;ko kopijai pridedama antra&scaron;të <tt>X-Mailman-Copy: yes</tt>.
        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>Ne<br>
        <mm-dont-receive-duplicates-button>Taip<p>
        <mm-global-nodupes-button><i>Bendri pakeitimai</i>
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
