Esta p&aacute;gina contiene un subconjunto de los env&iacute;os a la 
lista de distribuci&oacute;n <em>%(listname)s</em> que requieren 
de su conformidad. Actualmente muestra %(description)s

<p> Para cada solicitud administrativa, por favor seleccione la acci&oacute;n a tomar
pulsando con el rat&oacute;n en <b>mandar todos los datos</b> una vez que termine. Puede
encontrar informaci&oacute;n adicional <a href="%(detailsurl)s">aqu&iacute;</a>.

<p>Tambi&eacute;n puede <a href="%(summaryurl)s">ver un resumen</a> de todas las
solicitudes pendientes.
