Esta p&aacute;gina contiene un sumario de las solicitudes administrativas que
requieren de su aprobaci&oacute;n para la <a href="%(adminurl)s">lista de
distribuci&oacute;n</a> <em>%(listname)s</em>.

Lo primero que encontrar&aacute; ser&aacute;n las solicitudes de alta y baja en la lista (si las hubiera),
seguida por cualquier env&iacute;o a la lista pendiente de su aprobaci&oacute;n.

<p>Seleccione la acci&oacute;n a tomar para cada una de las solicitudes administrativas y
pulse en el bot&oacute;n <b>Enviar todos los datos</b> cuando haya terminado.
Hay disponibles <a href="%(detailsurl)s">instrucciones m&aacute;s detalladas</a>.

<p>Igualmente, tambi&eacute;n puede <a href="%(viewallurl)s">ver los detalles</a> de todos los 
env&iacute;os retenidos.
