<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
       <title>Archivo de la lista %(listname)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
  </HEAD>
  <BODY BGCOLOR="#ffffff">
     <h1>Archivo de la lista %(listname)s</h1>
     <p>
      Todav&iacute;a no se ha enviado ning&uacute;n mensaje a esta lista, de manera que el
      archivo est&aacute; actualmente vac&iacute;o.  Puede obtener <a href="%(listinfo)s">
      m&aacute;s informaci&oacute;n acerca de esta lista</a>.
     </p>
  </BODY>
  </HTML>
