Αυτή η σελίδα περιέχει ένα υποσύνολο από τα <em>%(listname)s</em> μηνύματα τα οποία 
κρατούνται περιμένοντας την έγκρισή σας.  Αυτή τη στιγμή δείχνει
%(description)s

<p>Για κάθε διαχειριστικό αίτημα , παρακαλώ επιλέξτε την ενέργεια που θέλετε,
ενεργοποιώντας την επιλογή <b>Υποβολή όλων των Δεδομένων</b> όταν τελειώσετε.  
Αναλυτικότερες οδηγίες είναι διαθέσιμες <a href="%(detailsurl)s"> εδώ </a>.

<p>Μπορείτε ακόμα να <a href="%(summaryurl)s">δείτε μία περίληψη</a> από όλα τα εκκρεμή 
διαχειριστικά αιτήματα.
