Αυτή η σελίδα περιέχει μία περίληψη από τα πρόσφατα 
διαχειριστικά αιτήματα απαιτώντας την έγκρίσή σας για την &nbsp;
<a href="%(adminurl)s"><em>%(listname)s</em> λίστα ηλ. ταχυδρομείου</a>.
Πρωτίστως, θα βρείτε τη λίστα από τα εκκρεμή αιτήματα εγγραφής 
ή διαγραφής, εάν υπάρχουν, ακολουθούμενα από μηνύματα που κρατούνται 
περιμένοντας την έγκρισή σας.

<p>Για κάθε διαχειριστικό αίτημα, παρακαλώ επιλέξτε την ενέργεια που θέλετε, ενεργοποιώντας την επιλογή 
<b>Υποβολή όλων των Δεδομένων</b> όταν τελειώσετε.
<a href="%(detailsurl)s">Αναλυτικότερες οδηγίες</a> είναι επίσης διαθέσιμες.

<p>Μπορείτε ακόμα να <a href="%(viewallurl)s">δείτε τις λεπτομέρειες</a> από όλα τα μηνύματα που κρατούνται.
