<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>Το ιστορικό της %(listname)s </title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(meta)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
     <h1>Τα Αρχεία της %(listname)s</h1>
     <p>
      Μπορείτε να δείτε <a href="%(listinfo)s">περισσότερες πληροφορίες για 
      αυτή τη λίστα</a> ή μπορείτε να <a href="%(fullarch)s">κατεβάσετε το 
      πλήρες μη επεξεργασμένο αρχείο</a>(%(size)s).
     </p>
     %(noarchive_msg)s
     %(archive_listing_start)s
     %(archive_listing)s
     %(archive_listing_end)s
     </BODY>
     </HTML>
