<!-- $Revision: 3394 $ -->
<HTML>
  <HEAD>
    <TITLE><MM-List-Name> Μέλη της λίστας</TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
    <TABLE WIDTH="100%" COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	  <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name>
		Μέλη της λίστας</FONT></B>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" ALIGN="CENTER">
	    
          <P align = "right"> <MM-lang-form-start><MM-displang-box>
                       <MM-list-langs><MM-form-end></p>        

	  <P>Κάντε Click στην διεύθυνση σας για να επισκεφτείτε την σελίδα με 
	      επιλογές της εγγραφής.<br><I>(Οι επιλογές που βρίσκονται σε παρένθεση δηλώνουν ότι 
          ότι η παράδοση μηνυμάτων για αυτές τις λίστες έχει απενεργοποιηθεί.)</I></P>
	</TD>
      </TR>
      <TR WIDTH="100%" VALIGN="top">
	<TD BGCOLOR="#FFF0D0" WIDTH="50%">
	  <center>
	    <B><FONT COLOR="#000000"><MM-Num-Reg-Users>
		  Μέλη που λαμβάνουν συγκεντρωτικά τα μηνύματα της λίστας <MM-List-Name>:</FONT></B>
	  </center>
	</TD>
	<TD BGCOLOR="#FFF0D0" WIDTH="50%">
	  <center>
	    <B><FONT COLOR="#000000"><MM-Num-Digesters> Μέλη που λαμβάνουν συγκεντρωτικά  
		  μηνύματα από <MM-List-Name>:</FONT></B> 
	  </center>
	</TD>
      </TR>
      <TR VALIGN="top">
	<td>
	  <P><MM-Regular-Users>
	</td>
	<td>
	  <P><MM-Digest-Users>
	</td>
      </tr>
    </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
