Ezen az oldalon a(z) <a href="%(adminurl)s"><em>%(listname)s</em>
levelez&#337;list&aacute;hoz</a> tartoz&oacute; beavatkoz&aacute;sra v&aacute;r&oacute; teend&#337;k kivonatolt
list&aacute;ja tal&aacute;lhat&oacute;.
El&#337;l a j&oacute;v&aacute;hagy&aacute;sra v&aacute;r&oacute; fel- &eacute;s leiratkoz&aacute;sok, ha vannak,
majd az enged&eacute;lyez&eacute;sre v&aacute;r&oacute; &uuml;zenetek tal&aacute;lhat&oacute;ak.

<p>Mindenegyes k&eacute;relemhez v&aacute;lasszuk ki a megfelel&#337; parancsot,
majd ezek ut&aacute;n kattintsunk az <b>&Ouml;sszes v&aacute;ltoztat&aacute;s ment&eacute;se</b>
gombra. B&#337;vebb inform&aacute;ci&oacute;t <a href="%(detailsurl)s">ezen</a> az
oldalon lehet tal&aacute;lni.

<p>Az &ouml;sszes f&uuml;gg&#337;ben l&eacute;v&#337; teend&#337; r&eacute;szletesen <a href="%(viewallurl)s">ezen</a>
az oldalon &eacute;rhet&#337; el.
