Az oldalon a(z) <em>%(listname)s</em> levelez&#337;list&aacute;hoz tartoz&oacute;
beavatkoz&aacute;sra v&aacute;r&oacute; teend&#337;k list&aacute;ja tal&aacute;lhat&oacute;. Jelenleg 
%(description)s l&aacute;that&oacute;.

<p>Mindenegyes k&eacute;relemhez v&aacute;lasszuk ki a megfelel&#337; parancsot,
majd ezek ut&aacute;n kattintsunk az <b>&Ouml;sszes v&aacute;ltoztat&aacute;s ment&eacute;se</b>
gombra. B&#337;vebb inform&aacute;ci&oacute;t <a href="%(detailsurl)s">ezen</a> az
oldalon lehet tal&aacute;lni.

<p>Az &ouml;sszes f&uuml;gg&#337;ben l&eacute;v&#337; teend&#337; kivonatolva <a href="%(summaryurl)s">ezen</a>
az oldalon tekinthet&#337; meg.
