    </ul>
    <p>
    <a name="end"><b>Utols&oacute; lev&eacute;l id&#337;pontja:</b></a> 
       <i>%(lastdate)s</i><br>
       <b>Arch&iacute;v&aacute;l&aacute;s id&#337;pontja:</b> <i>%(archivedate)s</i>
    <p>
   <ul>
	   <li> <b>Levelek sorrendje:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s
	     <li><b><a href="%(listinfo)s">Tov&aacute;bbi inform&aacute;ci&oacute;k err&#337;l a list&aacute;r&oacute;l...</a></b></li>
     </ul>
     <p>
     <hr>
     <i>Az arch&iacute;vum a Pipermail %(version)s verz&oacute;j&aacute;val k&eacute;sz&uuml;lt.</i>
  </BODY>
</HTML>
