Ez a sz&ouml;veg olyan <a href="https://docs.python.org/2/library/stdtypes.html#string-formatting-operations">Python-t&iacute;pus&uacute; v&aacute;ltoz&oacute;k</a>at mutat be, amelyekkel a lista egyes jellemz&#337;ire lehet hivatkozni.
Az al&aacute;bbi v&aacute;ltoz&oacute;k jelent&eacute;se:

<ul>
 <li><b>real_name</b> - A lista `pedik&#369;r&ouml;z&ouml;tt' neve; &aacute;ltal&aacute;ban a 
 lista neve nagy kezd&#337;bet&#369;vel.

 <li><b>list_name</b> - Az a n&eacute;v, amellyel a list&aacute;t az URL-lel 
 megadott c&iacute;m alapj&aacute;n azonos&iacute;tani lehet, kis- &eacute;s nagybet&#369;k sz&aacute;m&iacute;tanak.
 
 <li><b>host_name</b> - Tartom&aacute;nyn&eacute;vvel kieg&eacute;sz&iacute;tett teljes neve a g&eacute;pnek,
 amelyen a levelez&#337;list&aacute;k m&#369;k&ouml;dnek.

 <li><b>web_page_url</b> - Mailman kiindul&aacute;si URL-je. Ezut&aacute;n lehet megadni 
 pl. <em>listinfo/%(list_name)s</em> r&eacute;szt, hogy a k&iacute;v&aacute;nt levelez&#337;lista 
 inform&aacute;ci&oacute;s lapja megjelenjen. 

 <li><b>description</b> - R&ouml;vid le&iacute;r&aacute;s a levelez&#337;list&aacute;r&oacute;l.
 
 <li><b>info</b> - A levelez&#337;lista r&eacute;szletes le&iacute;r&aacute;sa.

 <li><b>cgiext</b> - A CGI szkriptek kiterjeszt&eacute;se.
</ul>
