<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
	<title>بایگانی‌های %(archive)s فهرست %(listname)s براساس %(archtype)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(encoding)s
  </HEAD>
  <BODY BGCOLOR="#ffffff" dir="rtl">
      <a name="start"></A>
	<h1>بایگانی‌های %(archive)s براساس %(archtype)s</h1>
      <ul>
         <li> <b>مرتب‌سازی پیام‌ها بر اساس:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s

	     <li><b><a href="%(listinfo)s">اطلاعات بیشتر درباره‌ی این فهرست...
                    </a></b></li>
      </ul>
      <p><b>شروع:</b> <i>%(firstdate)s</i><br>
         <b>پایان:</b> <i>%(lastdate)s</i><br>
         <b>پیام‌ها:</b> %(size)s<p>
     <ul>
