<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- $Revision: 5865 $ -->
<HTML>
  <HEAD>
    <TITLE><MM-List-Name> صفحه‌ی اطلاعات</TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff" dir="rtl">

    <P>
      <TABLE BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> --
	<MM-List-Description></FONT></B>
	  </TD>
	</TR>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </td>
	  </tr>
	  <tr>
	    <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
	      <B><FONT COLOR="#000000">درباره <MM-List-Name></FONT></B>
	    </TD>
            <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start><MM-displang-box> <MM-list-langs>
              <MM-form-end>
            </TD>
	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p> برای مشاهده پیام‌های پیشین ارسال شده به فهرست 
	      بایگانی‌های  <MM-Archive><MM-List-Name>
		  را ببینید</MM-Archive>.
	      <MM-Restricted-List-Message>
	  </p>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">با استفاده از  <MM-List-Name></FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  برای فرستادن پیام به کل اعضای این فهرست، رایانامه‌ای به نشانی زیر بفرستید:
	  <A HREF="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></A>.

	  <p>در بخش‌های زیر می‌توانید در این فهرست مشترک شوید یا اشتراک فعلی‌تان را تغییر دهید..
	</td>
      </tr>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">مشترک شدن در  <MM-List-Name></FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  <P>
	    برای مشترک شدن در  <MM-List-Name> فرم زیر را پر نمایید.
	  <MM-List-Subscription-Msg>
	  <ul>
    <MM-Subscribe-Form-Start>
	      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%">
		<TR>
		  <TD BGCOLOR="#dddddd" WIDTH="55%">نشانی رایانامه شما:</TD>
		  <TD WIDTH="33%"><MM-Subscribe-Box>
	</TD>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <tr>
        <td bgcolor="#dddddd" width="55%">نام شما (اختیاری):</td>
        <td width="33%"><mm-fullname-box></td>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <TR>
	<TD COLSPAN="3"><FONT SIZE=-1>می توانید یک گذرواژه شخصی در زیر برای خود تعیین کنید. این گذرواژه صرفاً برای ایجاد کمی امنیت و همچنین جلوگیری از دستکاری تنظیمات اشتراک شما توسط دیگران است.
	    <b>گذرواژه های خیلی ارزشمند را در اینجا نگذارید</b> زیرا گه‌گاه این گذرواژه به صورت خوانا از طریق رایانامه برایتان فرستاده می شود.

            <br><br>اگر گذرواژه‌های وارد نکنید، به طور خودکار گذرواژه‌ای برای شما ایجاد می‌شود و پس از تایید اشتراک، برای‌تان فرستاده می‌شود. همیشه می توانید هنگام ویرایش گزینه‌های شخصی خود، درخواست کنید، گذرواژه‌تان برای‌تان فرستاده شود..
	    <MM-Reminder>
	    </font>
	</TD>
      </TR>  
      <TR>
	<TD BGCOLOR="#dddddd">یک گذرواژه انتخاب کنید:</TD>
	<TD><MM-New-Password-Box></TD>
	<TD>&nbsp;</TD></TR>
      <TR> 
	<TD BGCOLOR="#dddddd">با وارد کردن مجدد گذرواژه، آن را تایید کنید:</TD>
	<TD><MM-Confirm-Password></TD>
	<TD>&nbsp; </TD></TR>
      <tr>
        <TD BGCOLOR="#dddddd">چه زبانی را برای نمایش پیام هایتان ترجیح می‌دهید؟ </TD> 
        <TD> <MM-list-langs></TD>
        <TD>&nbsp; </TD></TR>
      <mm-digest-question-start>
      <tr>
	<td>آیا دوست دارید تمام پیام‌های هر روز را در یک رایانامه به صورت یک‌جا دریافت کنید؟
	  </td>
	<td><MM-Undigest-Radio-Button> خیر
	    <MM-Digest-Radio-Button>  بلی
	</TD>
      </tr>
      <mm-digest-question-end>
      <mm-recaptcha-ui>
      <mm-captcha-ui>
      <tr>
	<td colspan="3">
	  <center><MM-Subscribe-Button></center>
    </td>
    </tr>
    </TABLE>
    <MM-Form-End>
    </ul>
    <TR>
      <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	<a name="subscribers">
        <B><FONT COLOR="#000000"><MM-List-Name> مشترکان</FONT></B></a>
      </TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
	<MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
