<html>
<head>
    <title> اصالت‌سنجی برای دسترسی به بایگانی‌های خصوصی %(realname)s </title>
<script>function sf(){document.f.username.focus();}</script>
</head>
<body bgcolor="#ffffff" dir="rtl" onLoad="sf()">
<FORM METHOD=POST ACTION="%(action)s" name="f">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">  اصالت‌سنجی برای دسترسی به بایگانی‌های خصوصی %(realname)s </FONT></B>
      </TD>
    </TR>
    <tr>
        <TD><div ALIGN="Right"> نشانی رایانامه: </div></TD>
        <TD><INPUT TYPE="text" NAME="username" SIZE="30"></TD>
    </tr>
    <tr>
      <TD><div ALIGN="Right"> گذرواژه: </div></TD>
      <TD><INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align="middle"><INPUT type="SUBMIT"
                                          name="submit"
					  value="مرا راه بده ...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>مهم: </em></strong> از این‌جا به بعد، باید کلوچک‌ها را در مرورگر خود فعال کرده باشید،  وگرنه مجبور خواهید بود برای هر عملیاتی دوباره اصالت‌سنجی شوید.

      
<p> واسط بایگانی‌های خصوصی میل‌من از کلوچک‌های نشست استفاده می‌کند
	تا مجبور نباشید برای هر عملیاتی دوباره اصالت‌سنجی شوید. این
	کلوچک وقتی از مرورگرتان خارج شوید، خودکار منقصی می‌شود، 
	یا هم خودتان می‌توانید با رفتن به صفحه‌ی گزیه‌های عضویت‌تان و
	کلیک کردن <em>خروج از سیستم</em> آن را مستقیما منقضی کنید.
      <p>
    <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">Password Reminder</FONT></B>
      </TD>
    </TR>
    <tr>
      <td> اگر گذرواژه‌تان را به یاد ندارید، نشانی 
	رایانامه‌تان را وارد کنید و روی <em>یادآوری کن</em> کلیک کنید
	تا گذرواژه‌تان برایتان فرستاده شود.
    </tr>
    <tr>
      <td><center><INPUT name="login-remind" type="SUBMIT" value="Remind" ></center></td>
    </tr>
  </TABLE>
</FORM>
</body>
</html>
