Iste pagina contine un summario del collection del requestas
administrative que require tu approbation pro le
<a href="%(adminurl)s">lista <em>%(listname)s</em></a>.

Primo, tu trovara le lista del requestas de abonamentos e
disabonamentos attendente (si existe); postea, le messages
que attende tu approbation.

<p>Pro omne requesta administrative, selige le action a exequer
e clicca sur <b>Confirmar tote le datos</b> quando tu ha finite.
<a href="%(detailsurl)s">Instructiones plus detaliate es disponibile</a>.

<p>Tu pote etiam <a href="%(viewallurl)s">vider le detalios</a>de tote
le messages attendente.
