Na tejto str&aacute;nke n&aacute;jdete v&scaron;etky pr&iacute;spevky do konferencie <em>%(listname)s</em>,
ktor&eacute; neboli z nejak&eacute;ho d&ocirc;vodu rozoslan&eacute; a čakaj&uacute; na Va&scaron;e rozhodnutie.
Moment&aacute;lne s&uacute; zobrazen&eacute; %(description)s

<p>U každej administrat&iacute;vnej požiadavky mus&iacute;te vybrať činnosť, ktor&aacute; sa
s ňou m&aacute; previesť a nakoniec vybran&eacute; činnosti uskutočn&iacute;te kliknut&iacute;m na 
<b>Potvrdiť v&scaron;etky zmeny</b>. Podrobnej&scaron;ie inform&aacute;cie o tom, ako
zaobch&aacute;dzať s administrat&iacute;vnym rozhran&iacute;m n&aacute;jdete 
<a href="%(detailsurl)s">pod t&yacute;mto odkazom</a>.

<p>Tiež si m&ocirc;žete prezrieť prehľad v&scaron;etk&yacute;ch
<a href="%(summaryurl)s">čakaj&uacute;cich požiadaviek</a> zobrazen&yacute; tak, že
pr&iacute;spevky od jedn&eacute;ho prispievateľa s&uacute; zl&uacute;čen&eacute; dolopy a m&ocirc;žete
o nich rozhodn&uacute;ť naraz.
