Administrat&iacute;vne požiadavky m&ocirc;žu byť zobrazen&eacute; dvoma sp&ocirc;sobmi. Buď
<a href=\"%(summaryurl)s\">hromadne</a> alebo <em>detailne</em>.
Pri hromadnom zobrazen&iacute; s&uacute; v&scaron;etky požiadavky poch&aacute;dzaj&uacute;ce od
toho ist&eacute;ho &uacute;častn&iacute;ka zobrazen&eacute; spolu a m&ocirc;že o nich byť rozhodnut&eacute;
naraz. Pri detailnom zobrazen&iacute; je každ&yacute; pr&iacute;spevok zobrazen&yacute;
samostatne a administr&aacute;tor rozhoduje o každom pr&iacute;spevku jednotlivo.
Detailn&eacute; zobrazenie obsahuje naviac v&scaron;etky hlavičky a časť z tela
spr&aacute;vy.

<p>Pre pozastaven&eacute; pr&iacute;spevky vyberte jednu z t&yacute;chto činnost&iacute;:
<ul>
<li><b>Ponechať</b> - Nechať spr&aacute;vu čakať vo fronte, nem&aacute; vplyv na
nastavenie preposielania, to znamen&aacute;, že spr&aacute;vu m&ocirc;žete preposlať
a pritom ponechať vo fronte

<li><b>Akceptovať</b> - Rozoslať spr&aacute;vu do konferencie. Ak nejde o spr&aacute;vu,
ale o žiadosť o prihl&aacute;senie &uacute;častn&iacute;ka, tak bude prihl&aacute;sen&yacute;.

<li><b>Zamietnuť</b> - Vr&aacute;tiť spr&aacute;vu odosielateľovi. M&ocirc;žete uviesť i d&ocirc;vod,
ktor&yacute; bude uveden&yacute; v odpovedi na zamietnutie. Spr&aacute;va bude vymazan&aacute; z fronty.
Ak ide o žiadosť o prihl&aacute;senie &uacute;častn&iacute;ka, tak bude zamietnut&aacute;.

<li><b>Zahodiť</b> - vhodn&eacute; pre spam. Spr&aacute;va bude potichu odstr&aacute;nen&aacute;, nikomu
nebude nič poslan&eacute;. Ak ide o žiadosť o prihl&aacute;senie &uacute;častn&iacute;ka, tak mu nebude
odoslan&aacute; odpoveď.
</ul>

<p>V&yacute;berom voľby <b>Ponechať</b> m&ocirc;žete ponechať spr&aacute;vu vo fronte pre
pre neskor&scaron;ie vybavenie spr&aacute;vcom. To sa využ&iacute;va predov&scaron;etk&yacute;m pri spr&aacute;vach,
ktor&eacute; nie s&uacute; spamom a vyžaduj&uacute; ďal&scaron;ie odvetn&eacute; akcie.

S pomocou voľby <b>Preposlať</b> m&ocirc;žete odoslať k&oacute;piu spr&aacute;vy na adresu,
ktor&uacute; vypln&iacute;te do poľa vedľa tejto voľby. Ak potrebujete
niektor&yacute; pr&iacute;spevok pre rozoslan&iacute;m zmeniť, mus&iacute;te si ho preposlať na svoju
adresu a p&ocirc;vodn&uacute; spr&aacute;vu zahodiť. Potom, čo spr&aacute;vu uprav&iacute;te, mus&iacute;te ju poslať
sp&auml;ť do konferencie, pr&iacute;padne s hlavičkou <tt>Approved:</tt>, do ktorej
dopln&iacute;te heslo pre dan&uacute; konferenciu. Etika vyžaduje, aby ste v takom pr&iacute;pade
do textu uviedli upozornenie, že ste spr&aacute;vu pozmenili a vysvetlili, prečo
ste tak konali.

<p>Pri nov&yacute;ch &uacute;častn&iacute;koch sa zvykne nastaviť moder&aacute;cia, aby ich
pr&iacute;spevky boli najprv preveren&eacute; moder&aacute;torom. Zru&scaron;en&iacute;m nastavenia moder&aacute;cie
umožn&iacute;te &uacute;častn&iacute;kovi prispievať do konferencie bez kontroly jeho pr&iacute;spevkov.

<p>Ak odosielateľ nie je &uacute;častn&iacute;kom konferencie, m&ocirc;žete jeho e-mailov&uacute;
adresu vložiť do <em>filtra odesielateľov</em>. Funkcia t&yacute;chto filtrov
je pop&iacute;san&aacute; na <a href=\"%(filterurl)s\">str&aacute;nke s konfigur&aacute;ciou filtrovania
</a>. Pr&iacute;spevky m&ocirc;žu byť na z&aacute;klade filtrov buď automaticky
akceptovan&eacute;, automaticky podržan&eacute; do rozhodnutia moder&aacute;tora,
automaticky vr&aacute;ten&eacute; alebo automaticky zahoden&eacute; (spam). Ak je
odosielateľ &uacute;častn&iacute;kom alebo je už zahrnut&yacute; vo filtroch, t&aacute;to voľba
nebude k dispoz&iacute;cii.

<p>Ak ste už pre&scaron;li celou str&aacute;nkou, kliknite na jej hornom alebo
spodnom okraji na tlačidlo <em>Potvrdiť v&scaron;etky zmeny</em>. T&yacute;m sa 
prenes&uacute; preveden&eacute; zmeny do datab&aacute;z&yacute; a server prevedie podľa dan&yacute;ch pokyov
potrebn&eacute; oper&aacute;cie. Ak u niektorej položky nevyberiete ani jednu voľbu,
nebude nijak ovplyvnen&aacute; a zostane uložena v datab&aacute;ze. Budete ju m&ocirc;cť
kedykoľvek nabud&uacute;ce zmeniť.


<p><a href="%(summaryurl)s">N&aacute;vrat na prehľad čakaj&uacute;c&iacute;ch požiadaviek</a>
