    </ul>
    <p>
      <a name="end"><b>D&aacute;tum posledn&eacute;ho pr&iacute;spevku:</b></a> 
       <i>%(lastdate)s</i><br>
    <b>Archivovan&eacute;:</b> <i>%(archivedate)s</i>
    <p>
   <ul>
         <li> <b>Spr&aacute;vy zoraden&eacute; podľa:</b>
        	%(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s
	     <li><b><a href="%(listinfo)s">Viac inform&aacute;ci&iacute; o konferencii...
                    </a></b></li>
     </ul>
     <p>
     <hr>
     <i>Tento arch&iacute;v bol vytvoren&yacute; pomocou programu
     Pipermail %(version)s.</i>
  </BODY>
</HTML>
