<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>Arch&iacute;v konferencie %(listname)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
  </HEAD>
  <BODY BGCOLOR="#ffffff">
     <h1>Arch&iacute;v konferencie %(listname)s</h1>
     <p>
      Do tejto konferencie nebol zatial zaslan&yacute; žiaden pr&iacute;spevok.
      Preto je tento arch&iacute;v pr&aacute;zdny. Viac inform&aacute;ci&iacute; o konferencii
      z&iacute;skate na <a href="%(listinfo)s">informačnej str&aacute;nke.</a>.
     </p>
  </BODY>
  </HTML>
