<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- $Revision$ -->
<HTML>
  <HEAD>
    <TITLE>Inform&aacute;cie ku konferencii <MM-List-Name></TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
      <TABLE BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> --
	<MM-List-Description></FONT></B>
	  </TD>
	</TR>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </td>
	  </tr>
	  <tr>
	    <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
	      <B><FONT COLOR="#000000">O konferencii <MM-List-Name></FONT></B>
	    </TD>
            <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start><MM-displang-box> <MM-list-langs>
              <MM-form-end>
            </TD>
	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p> Ak si chcete prezrieť star&eacute; pr&iacute;spevky do konferencie,
	      nav&scaron;t&iacute;vte <MM-Archive>arch&iacute;v konferencie 
	      <MM-List-Name></MM-Archive>.
	      <MM-Restricted-List-Message>
	  </p>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">Použ&iacute;vanie konferencie <MM-List-Name>
	  </FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  Pr&iacute;spevky do konferencie posielajte na adresu
	  <A HREF="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></A>.

	  <p>Niž&scaron;ie na tejto str&aacute;nke sa m&ocirc;žete sa prihl&aacute;siť do konferencie
	      alebo upraviť Va&scaron;e nastavenia v konferencii.
	</td>
      </tr>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">Prihl&aacute;senie do konferencie <MM-List-Name>
	  </FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  <P>
	    Do konferencie <MM-List-Name> sa prihl&aacute;site vyplnen&iacute;m nasleduj&uacute;ceho
	      formul&aacute;ra.
	  <MM-List-Subscription-Msg>
	  <ul>
    <MM-Subscribe-Form-Start>
	      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%">
		<TR>
		  <TD BGCOLOR="#dddddd" WIDTH="55%">Va&scaron;a e-mailov&aacute; adresa:</TD>
		  <TD WIDTH="33%"><MM-Subscribe-Box>
	</TD>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <tr>
        <td bgcolor="#dddddd" width="55%">Va&scaron;e meno (nepovinn&eacute;):</td>
        <td width="33%"><mm-fullname-box></td>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <TR>


	<TD COLSPAN="3"><FONT SIZE=-1>Heslo m&ocirc;žete uviesť niž&scaron;ie.
	    Toto nebude chr&aacute;nen&eacute; a sl&uacute;ži iba na to, aby tretie osoby nemohli 
	    meniť Va&scaron;e nastavenia. <b>Nepouž&iacute;vajte heslo, ktor&eacute; je pre V&aacute;s 
	    d&ocirc;ležit&eacute;</b>, lebo V&aacute;m bude nezabezpečene zasielan&eacute; elektronickou 
	    po&scaron;tu.

            <br><br>Ak heslo nezad&aacute;te, bude pre V&aacute;s vytvoren&eacute; n&aacute;hodn&eacute; heslo,
            ktor&eacute; V&aacute;m bude zaslan&eacute; potom, ako potvrd&iacute;te prihl&aacute;senie.
            Heslo si m&ocirc;žete dať kedykoľvek zaslať na adresu, na ktor&uacute; ste
            sa prihl&aacute;sili.
	    <MM-Reminder>
	    </font>
	</TD>
      </TR>  
      <TR>
	<TD BGCOLOR="#dddddd">Tu nap&iacute;&scaron;te heslo:</TD>
	<TD><MM-New-Password-Box></TD>
	<TD>&nbsp;</TD></TR>
      <TR> 
	<TD BGCOLOR="#dddddd">Zopakujte heslo pre kontrolu:</TD>
	<TD><MM-Confirm-Password></TD>
	<TD>&nbsp; </TD></TR>
      <tr>
        <TD BGCOLOR="#dddddd">V akom jazyku maj&uacute; byť zobrazovan&eacute; spr&aacute;vy?</TD> 
        <TD> <MM-list-langs></TD>
        <TD>&nbsp; </TD></TR>
      <mm-digest-question-start>
      <tr>
	<td>Chcete prij&iacute;mať po&scaron;tu raz denne v s&uacute;hrnnej spr&aacute;ve?
	  </td>
	<td><MM-Undigest-Radio-Button> Nie
	    <MM-Digest-Radio-Button>  &Aacute;no
	</TD>
      </tr>
      <mm-digest-question-end>
      <mm-recaptcha-ui>
      <mm-captcha-ui>
      <tr>
	<td colspan="3">
	  <center><MM-Subscribe-Button></center>
    </td>
    </tr>
    </TABLE>
    <MM-Form-End>
    </ul>
    <TR>
      <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	<a name="subscribers">
        <B><FONT COLOR="#000000">&Uacute;častn&iacute;ci konferencie <MM-List-Name>
	</FONT></B></a>
      </TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
	<MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
