Ova stranica sadrži sažetak trenutnog skupa administrativnih zahtjeva 
za koje je potrebno va&scaron;e odobrenje za <a href="%(adminurl)s"><em>%(listname)s</em> mailing listu</a>. 
Naći ćete listu zadržanih zahtjeva za pretplatom i odjavom, ukoliko postoje, uz poruke 
koje su zadržane zbog va&scaron;eg odobrenja.

<p>Za svaki administrativni zahtjev izaberite akciju koju ćete poduzeti, 
a klikom na <b>Po&scaron;alji Sve Podatke</b> zavr&scaron;ite izmjene. 
<a href="%(detailsurl)s">Detaljnje upute</a> su također moguće.

<p>Također možete <a href="%(viewallurl)s">pogledati detalje</a> svih zadržanih poruka.
