 Ovaj tekst može uključiti 
<a href="https://docs.python.org/2/library/stdtypes.html#string-formatting-operations">Python
format stringova</a> koji su razlučeni prema atributima liste. Lista dozvoljenih 
zamjena je: 

<ul>
    <li><b>real_name</b> - "Lijepi" naziv liste; obično naziv liste s velikim početnim slovom.

    <li><b>list_name</b> - Naziv po kojem je lista 
    identificirana u URL-ovima, gdje je bitna veličina slova (mala/velika)

    <li><b>host_name</b> - Kompletan naziv domene na kojoj je server liste.

    <li><b>web_page_url</b> - Temeljni URL za Mailmana.  Na njega
    može biti dodan npr. 
    <em>listinfo/%(list_name)s</em> da bi bila prikazana 
    listinfo stranica za mailing listu.

    <li><b>desc</b> - Kratak opis mailing liste.

    <li><b>info</b> - Kompletan opis mailing liste.

    <li><b>cgiext</b> - Dodatak koji se doda CGI skriptama.
</ul>
